.browsehappy {
	padding: 20px 30px;
	background-color: #302E2E;
	color: #FF4045;
	text-align: center;
	font-size: 16px;
	a {
		color: #FF5559;
		border-bottom: 3px dotted #FF4045;
		padding-bottom: 3px;
		margin-left: 3px;
		margin-right: 3px;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: lighten(#FF5559,10%);
			border-color: lighten(#FF5559,10%);
		}
	}
}