.btnHamburger {
  background: none;
  border: none;
  outline: none !important;
  padding: 0;
  height: 38px * 0.5;
  width: 54px * 0.5;
  @media (min-width: $screen-sm-min) {
    height: 38px * 0.73;
    width: 54px * 0.73;
  }
  @media (min-width: $screen-xl-min) {
    height: 38px;
    width: 54px;
  }
  &.btn {
    &:before {
      display: none;
    }
  }
  .btnHamburgerInner {
    display: block;
    position: relative;
    height: 100%;
    > * {
      display: block;
      background-color: #fff;
      text-align: left;
      overflow: hidden;
      text-indent: -9999px;
      position: absolute;
      left: 0;
      right: 0;
      border-radius: 0;
      height: 2px;
      @media (min-width: $screen-sm-min) {
        height: 4px;
      }
      &:nth-child(1){
        top: 0;
        @include transitionFast((top,transform),(0.3s,0s));
      }
      &:nth-child(2){
        top: 50%;
        @include transitionFast((opacity,left));
        left: 25%;
        margin-top: -1px;
        @media (min-width: $screen-sm-min) {
          margin-top: -2px;
        }
      }
      &:nth-child(3){
        bottom: 0;
        @include transitionFast((bottom,transform),(0.3s,0s));
      }
    }
  }
  .btnHamburgerText {
    font-family: 'korolev_condensedbold';
    color: $color1;
    @include absolutecenter(y);
    right: 100%;
    margin-right: -20px;
    opacity: 0;
    visibility: hidden;
    @include transitionFast(all);
    font-size: 32px * 0.5;
    @media (min-width: $screen-sm-min) {
      font-size: 32px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 32px;
    }
  }
  &:hover {
    .btnHamburgerInner {
      > * {
        &:nth-child(2){
          left: 0;
        }
      }
    }
  }
  &.active {
    box-shadow: none;
    .btnHamburgerInner {
      > * {
        background-color: #000;
        &:nth-child(1){
          top: 50%;
          transform:rotate(-45deg);
          @include transitionFast((top,transform),(0s,0.3s));
          margin-top: -1px;
          @media (min-width: $screen-sm-min) {
            margin-top: -2px;
          }
        }
        &:nth-child(2){
          opacity: 0;
          @include transition(opacity);
        }
        &:nth-child(3){
          bottom: 50%;
          transform:rotate(45deg);
          @include transitionFast((bottom,transform),(0s,0.3s));
          margin-bottom: -1px;
          @media (min-width: $screen-sm-min) {
            margin-bottom: -2px;
          }
        }
      }
    }
    .btnHamburgerText {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.6s;
      margin-right: 5px;
      @media (min-width: $screen-xl-min) {
        margin-right: 10px;
      }
    }
  }
}

.btn {
  border-radius: 0;
  &.btnTheme {
    border-radius: 0;
    color: #333333;
    background-color: #fff;
    border: 1px solid $color1;
    font-size: 3.5vw;
    min-width: 46%;
    position: relative;
    overflow: hidden;
    @media (min-width: $screen-sm-min) {
      padding: 10px * 0.73;
      font-size: 22px * 0.73;
      min-width: 190px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      padding: 10px;
      font-size: 22px;
      min-width: 190px;
    }
    &:after {
      content: '';
      background-color: $color1;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      transform: translateY(100%);
      @include transition(all, 0, 0.3s);
    }
    > span {
      @include transition(all, 0s, 0.3s);
      position: relative;
      display: inline-block;
      z-index: 2;
    }
    [class*="ftlo-"] {
      @include transition(all, 0s, 0.3s);
      @include absolutecenter(y);
      opacity: 0;
      @media (min-width: $screen-sm-min) {
        right: -10px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        right: -10px;
      }
    }
    &:hover {
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      > span {
        padding-right: 28px * 0.73;
        @media (min-width: $screen-xl-min) {
          padding-right: 28px;
        }
        [class*="ftlo-"] {
          right: 0;
          opacity: 1;
        }
      }
    }
    &.isDown {
      > span {
        transition-delay: 0.25s;
        [class*="ftlo-"] {
          right: 0;
          margin-top: -10px;
          transition-delay: 0s;
        }
      }
      &:hover {
        > span {
          transition-delay: 0s;
          [class*="ftlo-"] {
            margin-top: 0;
            transition-delay: 0.25s;
          }
        }
      }
    }
    &.isHighlight {
      border: 0;
      background-color: $color1;
      background: linear-gradient(to right, #eac538 , #f5e556);   
      font-size: 4vw;
      min-width: 53%;
      @media (min-width: $screen-sm-min) {
        min-width: 345px * 0.73;
        padding-left: 10px * 0.73;
        padding-right: 10px * 0.73;
        font-size: 30px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        min-width: 345px;   
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
      }
      &:after {
        display: none;
      }
      &:hover {
        > span {
          padding-right: 45px * 0.73;
          @media (min-width: $screen-xl-min) {
            padding-right: 45px;
          }
        }
      }      
    }
    &.isThemeDiff1 {
      color: #fff;
      background-color: #808080;
      border-color: #808080;
    }
  }
}
.btnBack {
  color: $color1;
  font-size: 0;
  display: inline-block;
  > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
  }
  [class*=ftlo] {
    @include transitionFast(all);
    &:before {
      font-size: 1.3em;
      margin: 0;
    }
  }
  &:hover {
    [class*=ftlo] {
      transform: translateX(-10px);
      margin-right: 5px;
    }
  }
}