@keyframes spinner {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
[data-crop] {
  position: relative;
  overflow: hidden;
  &:not(.croped) {
    background-color: rgb(240,240,240);
    &:before ,
    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
    }
    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      margin-top: -12px;
      border-radius: 100%;
      background-color: rgba(#000,0.8);
    }
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      border-radius: 100%;
      border: 2px solid rgba(#fff,0.3);
      border-top: 2px solid rgba(#fff,0.8);
      animation: spinner 0.5s infinite;
    }
    img {
      opacity: 0;
    }
  }
  img {
    @include transition(opacity);
    max-width: none !important;
    max-height: none !important;
    @include absolutecenter();
    height: 100% !important;
    width: auto !important;
  }
  &.focusX {
    img {
      height: auto !important;
      width: 100% !important;
    }
  }
  &[data-crop-reverse="true"] {
    img {
      height: auto !important;
      width: 100% !important;
    }
    &.focusX {
      img {
        height: 100% !important;
        width: auto !important;
      }
    }
  }
}
[data-crop="16by9"] {
  padding-bottom: 56.25%;
}
[data-crop="16by5"] {
  padding-bottom: 31.25%;
}
[data-crop="4by3"] {
  padding-bottom: 75%;
}  
[data-crop="1by1"] {
  padding-bottom: 100%;
}
[data-crop="news"] {
  padding-bottom: 66%;
}
[data-crop="products"] {
  padding-bottom: 63%;
}