@font-face {
  font-family: 'korolev_condensedbold';
  src: url('#{$pathFONT}/korolev_condensed_bold-webfont.woff2') format('woff2'),
       url('#{$pathFONT}/korolev_condensed_bold-webfont.woff') format('woff'),
       url('#{$pathFONT}/korolev_condensed_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'korolev_condensedheavy';
  src: url('#{$pathFONT}/korolev_condensed_heavy-webfont.woff2') format('woff2'),
       url('#{$pathFONT}/korolev_condensed_heavy-webfont.woff') format('woff'),
       url('#{$pathFONT}/korolev_condensed_heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'korolev_condensedmedium';
  src: url('#{$pathFONT}/korolev_condensed_medium-webfont.woff2') format('woff2'),
       url('#{$pathFONT}/korolev_condensed_medium-webfont.woff') format('woff'),
       url('#{$pathFONT}/korolev_condensed_medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}