@font-face {
  font-family: 'fontello';
  src: url('#{$pathFONT}/fontello.eot?5326644');
  src: url('#{$pathFONT}/fontello.eot?5326644#iefix') format("embedded-opentype"), url('#{$pathFONT}/fontello.woff2?5326644') format("woff2"), url('#{$pathFONT}/fontello.woff?5326644') format("woff"), url('#{$pathFONT}/fontello.ttf?5326644') format("truetype"), url('#{$pathFONT}/fontello.svg?5326644#fontello') format("svg");
  font-weight: normal;
  font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('#{$pathFONT}/fontello.svg?5326644#fontello') format('svg');
  }
}
*/

[class^="ftlo-"]:before, [class*=" ftlo-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ftlo-right:before { content: '\e800'; } /* '' */
.ftlo-location:before { content: '\e801'; } /* '' */
.ftlo-up:before { content: '\e802'; } /* '' */
.ftlo-phone:before { content: '\e803'; } /* '' */
.ftlo-play-circled2:before { content: '\e804'; } /* '' */
.ftlo-down:before { content: '\e805'; } /* '' */
.ftlo-left-open:before { content: '\f007'; } /* '' */
.ftlo-mail-alt:before { content: '\f0e0'; } /* '' */
.ftlo-doc-text:before { content: '\f0f6'; } /* '' */
.ftlo-fax:before { content: '\f1ac'; } /* '' */
.ftlo-facebook:before { content: '\f300'; } /* '' */
.ftlo-twitter-bird:before { content: '\f303'; } /* '' */
.ftlo-instagram-filled:before { content: '\f31f'; } /* '' */