.sgh_footer {
  background-color: #ffffff;
  
}
.sgh_footerInner {
  padding: 30px 0;
  position: relative;
  @media (min-width: $screen-md-min) {
    @include clearfix;
  }
  > .row {
    > * {
      @media (max-width: $screen-sm-max) {
        @include clearfix;
      }
    }
  }
  .sgh_footerBrand {
    float: left;
    @media (max-width: $screen-xs-max) {
      width: 30%;
    }
    .image {
      img {
        height: auto;
        width: 100%;
        @media (min-width: $screen-sm-min) {
          width: 122px * 0.73;
        }
        @media (min-width: $screen-xl-min) {
          width: 122px;
        }
      }
    }
  }
  .sgh_footerAddress {
    float: left;
    font-family: 'korolev_condensedmedium';
    padding-left: 15px;
    color: #333333;
    font-size: 3.4vw;
    @media (max-width: $screen-xs-max) {
      width: 70%;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 15px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 15px;
    }
    address {
      margin: 0;
      padding: 0;
      br {
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
    p {
      margin: 0;
    }
    a {
      color: #333333;
      &:hover {
        color: $color1;
      }
    }
    b {
      font-family: 'korolev_condensedbold';
    }
    .ftlo-location {
      font-size: 1.5em;
      color: $color1;
      vertical-align: middle;
    }
  }
  .footerSocial {
    text-align: right;
    margin-bottom: 5px;
    padding-top: 13px;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
    @media (min-width: $screen-md-min) {
      padding-top: 22px;
    }
    @media (min-width: $screen-xl-min) {
      margin-bottom: 15px;
      padding-top: 40px;
    }
  }
  .footerSocialInner {
    a {
      display: inline-block;
      vertical-align: middle;
      color: #333;
      padding: 5px;
      @media (min-width: $screen-md-min) {
        padding: 10px;
      }
      &:hover {
        background-color: $color1;
      }
    }
  }
  .sgh_footerCopyright {
    text-align: right;
    font-size: 11px;
    color: #939393;
    @media (max-width: $screen-xs-max) {
      text-align: center;
      font-size: 3.4vw;
    }
    a {
      color: #939393;
      &:hover {
        color: $color1;
      }
    }
    .sgh_footerCopyrightLinks {
      @media (max-width: $screen-sm-max) {
        display: block;
      }
    }
  }
}
.sgh_footerGoToTop {
  position: absolute;
  right: 0;
  top: -32px;
  width: 64px;
  text-align: center;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    top: -20px;
  }
  a {
    height: 64px;
    display: block;
    border-radius: 100%;
    background-color: #ffffff;
    color: #9fa4af;
    box-shadow: 0 0 30px rgba(#000,0.15);
    font-size: 0;
    @include ghostCentering_before(0);
    @media (max-width: $screen-xs-max) {
      height: 40px;
    }
    [class*="ftlo-"] {
      @include ghostCentering;
      &:before {
        font-size: 18px;
        @media (max-width: $screen-xs-max) {
          font-size: 12px;
        }
      }
    } 
    &:hover {
      background-color: $color1;
      color: #333;
    }
  }
}

html.svg {
  .sgh_footerBrand {
    a {
      .image {
        background-image: url('#{$pathIMG}/logo-singha.svg');
        background-size: auto 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        img {
          opacity: 0;
        }
      }
    }
  }
}