.formTheme {
  font-size: 14px;
  font-family: 'korolev_condensedmedium';
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    border-radius: 0;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:focus {
      border-color: $colorFormFocus;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($colorFormFocus,.6);        
    }
  }
  .bootstrap-select {
    .dropdown-toggle {
      border-radius: 0;
      &:focus {
        outline: none !important;
      }
    }
  }
  textarea.form-control {
    height: auto;
  }
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 42px;
    line-height: 1;
  }
}
.form-control-floatText {
  position: relative;
  display: block;
  > .label-control {
    font-weight: normal;
    @include transitionFast(all);
    @include absolutecenter(y);
    left: 12px;
    color: #afafaf;
    z-index: 2;
    padding: 0 2px;
  }
  > .form-control {
    position: relative;
    z-index: 1;
  }
  &.focus,
  &.filled {
    > .label-control {
      background-color: #fff;
      box-shadow: 0 0 5px 5px rgba(#fff, 1);
      top: 2px;
      font-size: 0.7em;
      color: #666;
    }
  }
  &.isTextArea {
    > .label-control {
      transform: translateY(0);
      top: 10px;
    }
    &.focus,
    &.filled {
      > .label-control {
        top: -5px;
      }
    }
  }  
}