html,
body {
  font-family: 'korolev_condensedmedium';
  overflow-x: hidden;
  @media (min-width: $screen-xl-min) {
    font-size: 18px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 3.6vw;
  }
}
a,button {
  @include transitionFast((color,background));
  outline: none !important;
  &:hover {
    text-decoration: none;
  }
}
strong,
b {
  font-family: 'korolev_condensedbold';
}
.displayInlineBlocks {
  > * {
    display: inline-block;   
  }
}
figure,
.image {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.embed-responsive-1by1 {
  padding-bottom: 100%;
}

.container {
  @media (min-width: $screen-xl-min) {
    width: 1600px;
  }
}
.sgh_sectionHeader {
  word-break: break-word;
  margin-bottom: 30px;
  @media (min-width: $screen-xl-min) {
    margin-bottom: 60px;
  }
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
  .titleText {
    color: $color1;
    font-family: 'korolev_condensedbold';
    line-height: 1;
    position: relative;
    margin: 0 0 10px;
    font-size: 11vw;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 15px;
      font-size: 70px * 0.46;
    }
    @media (min-width: $screen-md-min) {
      font-size: 70px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 70px;
    }
    &:after {
      content: '';
      display: block;
      height: 3px;
      background-color: $color1;
      margin-top: 5px;
      width: 84px;
      @media (max-width: $screen-xs-max) {
        margin-left: auto;
        margin-right: auto;
        width: 20%;
      }
    }
  }
  .titleText_sub {
    font-size: 7vw;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 15px;
      font-size: 34px * 0.46;
    }
    @media (min-width: $screen-md-min) {
      font-size: 34px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 34px;
    }    
  }
  .desc {
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      max-width: 640px * 0.73;
      font-size: 22px * 0.46;      
    }
    @media (min-width: $screen-md-min) {
      font-size: 22px * 0.73;        
    }    
    @media (min-width: $screen-xl-min) {
      font-size: 22px;
      max-width: 640px;
    }
  }
  &.isSM {
    .titleText {
      font-size: 9vw;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 15px;
        font-size: 80px * 0.46;
      }
      @media (min-width: $screen-md-min) {
        font-size: 80px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 80px;
      }
    }
  }
  &.hasFloatButton {
    position: relative;
    .titleText {
      position: relative;
      .button {
        @include absolutecenter(y);
        right: 0;
        line-height: 1;
        font-size: 0;
        a {
          font-size: 20px;
          text-decoration: underline;
          color: $color1;
          @media (max-width: $screen-xs-max) {
            font-size: 3.6vw;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &.text-center {
    .titleText {
      &:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.sgh_sectionSubHeader {
  font-size: 6vw;
  margin: 0 0 15px;
  @media (min-width: $screen-sm-min) {
    font-size: 30px * 0.46;
  }
  @media (min-width: $screen-md-min) {
    font-size: 30px * 0.73;
  }
  @media (min-width: $screen-xl-min) {
    font-size: 30px;
  }  
}
.homePage .sgh_wrap {
  background-color: #f8f7f7;
}
.sgh_sectionArticle ,
.sgh_sectionContactDetail ,
.sgh_sectionNewsItems,
.sgh_sectionNewsDetail,
.sgh_sectionProducts,
.sgh_sectionRepresentative,
.sgh_loadmore,
.isDiff {
  background-color: #f8f7f7;
  padding: 30px 0;
  @media (min-width: $screen-sm-min) {
    padding: 60px 0;
  }
}


.sgh_sectionProductDetailWrap {
  background-color: #f8f7f7;
  position: relative;
  min-height: 700px;
  padding: 30px 0;
  @media (min-width: $screen-sm-min) {
    padding: 60px 0;
  }
  &:before {
    content: '';
    background-image: url('#{$pathIMG}/bg_decor.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% auto;
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    padding-bottom: 34%;
  }
  .sgh_section {
    position: relative;
    z-index: 1;
  }
}

.sgh_loadmore {
  text-align: center;
  padding-top: 0;
  margin-top: -30px;
}

.sgh_sectionProductDetail,
.sgh_editor {
  img {
    max-width: 100%;
    height: auto !important;
  }
}