.headerWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  padding-top: 6%;
  @media (min-width: $screen-sm-min) {
    top: 37px;
    padding-top: 120px * 0.46;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 7vh;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
  }
}
.headerBrand {
  position: relative;
  z-index: 999;
  font-size: 0;
  .headerBrandInner {
    display: inline-block;
    > span {
      display: block;
      position: relative;
      .image {
        @include transitionFast(transform);
        img {
          width: 150px * 0.46;
          @media (min-width: $screen-md-min) {
            width: 150px * 0.73;
          }
          @media (min-width: $screen-xl-min) {
            width: 150px;
          }
        }
      }
    }
    &:hover {
      > span {
        &:after {
          bottom: -40%;
        }
        .image {
          transform: scale(1.1);
        }
      }
    }
  }
  .btnHamburger {
    position: absolute;
    top: 0;
    right: 0;
  }
}

html {
  &.svg {
    .headerBrand {
      .headerBrandInner {
        > span {
          .image {
            background-image: url('#{$pathIMG}/logo-singha.svg');
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            img {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  &.contactPage {
    .headerWrap {
      background-image: url('#{$pathIMG}/header-shadow.png');
      background-repeat: repeat-x;
      background-size: 1px 100%;
    }
  }
}
.beforeHeader {
  background-color: #010D37;
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    li {
      display: block;
      &:not(:first-child) {
        border-left: 1px solid #fdbc00;
      }
    }
  }
  a {
    color: #fdbc00;
    text-decoration: none;
    display: block;
    padding: 8px 30px;
    font-size: 15px;
    &:hover {
      background-color: #fdbc00;
      color: #010D37;
    }
  }
}