@font-face {
	font-family: "iconsTheme";
	src: url('#{$pathFONT}/iconsTheme.eot');
	src: url('#{$pathFONT}/iconsTheme.eot?#iefix') format('eot'),
		url('#{$pathFONT}/iconsTheme.woff2') format('woff2'),
		url('#{$pathFONT}/iconsTheme.woff') format('woff'),
		url('#{$pathFONT}/iconsTheme.ttf') format('truetype'),
		url('#{$pathFONT}/iconsTheme.svg#iconsTheme') format('svg');
}

.icon:before {
	font-family: "iconsTheme";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-circle:before {
	content: "\E001";
}
