@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
// Ghost Center
@mixin ghostCentering_before($adjustSpace:-0.25em,$align:center) {
  text-align: $align;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: $adjustSpace ; /* Adjusts for spacing */    
  }
}
@mixin ghostCentering() {
  display: inline-block;
  vertical-align: middle;
}


@mixin imageThumnail($height) {
  position: relative;
  height: $height;
  a {
    display: block;
  }
  img {
    display: block;
    @include absolutecenter;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
}

//http://www.andrewhoule.me/blog/5-sass-mixins-i-use-on-nearly-every-project/
@mixin absolutecenter($axis: "both"){
  position:absolute;
  @if $axis == "y"{
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
@mixin transitionFast($property,$delay:0s,$duration:0.4s) {
  transition-property:$property;
  transition-duration:$duration;
  transition-timing-function:ease;
  transition-delay:$delay;
}  
@mixin transition($property,$delay:0s,$duration:0.6s) {
  transition-property:$property;
  transition-duration:$duration;
  transition-timing-function:ease-out;
  transition-delay:$delay;
}
@mixin transitionInOutBack($property,$delay:0s,$duration:0.6s) {
  transition-property:$property;
  transition-duration:$duration;
  transition-delay:$delay;  
  -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}
@mixin transitionInOutBackSoft($property,$delay:0s,$duration:0.6s) {
  transition-property:$property;
  transition-duration:$duration;
  transition-delay:$delay;    
  transition-timing-function: cubic-bezier(0.435, 0.000, 0.380, 1.300);
}
@mixin clearTransition($property) {
  transition:$property 0s !important;
}
//Font-Face Theme
@mixin font_theme_reg {
  font-family: 'db_ozone_xregular';
}
@mixin font_theme_li {
  font-family: 'db_ozone_xlight';
}
@mixin font_theme_bold {
  font-family: 'db_ozone_xbold';
}
@mixin font_theme_med {
  font-family: 'db_ozone_xmedium';
}

@mixin activeScale($size:0.9){
  &:active {
    transform:scale($size);
  }
}

@mixin FlyInFromBottom ($delay:0s) {
  transform:translateY(100%);
  opacity:0;
  @include transitionInOutBackSoft(all,$delay);
}
@mixin FlyInFromTop ($delay:0s) {
  transform:translateY(-100%);
  opacity:0;
  @include transitionInOutBackSoft(all,$delay);
}
@mixin FlyInFromRight ($delay:0s) {
  transform:translateX(100%);
  opacity:0;
  @include transitionInOutBackSoft(all,$delay);
}
@mixin FlyInFromLeft ($delay:0s) {
  transform:translateX(-100%);
  opacity:0;
  @include transitionInOutBackSoft(all,$delay);
}
@mixin FlyInActive($delay:0s) {
  transform:translate(0,0);
  opacity:1;
  @include transitionInOutBackSoft(all,$delay);
}
@mixin fadeOut($delay:0s){
  opacity:0;
  @include transitionFast(opacity,$delay);
}

@mixin triangle($direction, $size: 0.375rem, $color: #222){
  content: '';
  display: block;
  position: absolute;
  height: 0; width: 0;
  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}
@mixin bp($point) {
  @if $point == xl { // 1050px
    @media (max-width: 65.625rem) { @content; }
  }
  @else if $point == lg { // 900px
    @media (max-width: 56.25rem) { @content; }
  }
  @else if $point == md { // 768px
    @media (max-width: 48rem)  { @content; }
  }
  @else if $point == sm { // 600px
    @media (max-width: 37.5rem)  { @content; }
  }
  @else if $point == xs { // 400px
    @media (max-width: 25rem)  { @content; }
  }
}