.mainNavigation {
  z-index: 998;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(#000,0.7);
  overflow: hidden;
  height: 100vh;
  @include transition(all,0,0.4s);
  .container {
    height: 100%;
  }
  .mainNavigationInner {
    position: relative;
    z-index: 1;
    padding: 0;
    background-color: #f8f7f7;
    height: 100%;
    @include transition(all,0,0.4s);
    margin: 0 -15px;
    padding-top: 44%;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: right;
      margin: 0 0 0 auto;
      width: 440px * 0.46;
      padding-top: 270px * 0.46;    
    }
    @media (min-width: $screen-md-min) {
      width: 440px * 0.73;
      padding-top: 22vh;
    }
    @media (min-width: $screen-xl-min) {
      width: 440px;
      padding-top: 270px;
    }
    &:before {
      @media (min-width: $screen-sm-min) {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        z-index: 0;
        background-image: url('#{$pathIMG}/mainNavBG.png');
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
        width: 450px;
        margin-right: -2px;
      }
      @media (min-width: $screen-md-min) {
        width: 550px;
      }
      @media (min-width: $screen-xl-min) {
        width: 670px;
      }
    }
    &:after {
      @media (min-width: $screen-sm-min) {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        z-index: 0;
        background-color: #f8f7f7;
        width: 1000px;
      }
    }
  }
  .navItems {
    padding: 0;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    height: 100%;
    position: relative;
  }
  .navItem {
    display: block;
    border-bottom: 1px solid rgba(#fff,0.2);
    font-family: 'korolev_condensedbold';
    text-transform: uppercase;
    @include transition(all,0,0.4s);
    font-size: 5.7vw;
    @media (min-width: $screen-sm-min) {
      font-size: 64px * 0.46;
    }
    @media (min-width: $screen-md-min) {
      font-size: 64px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 64px;
    }
    @for $i from 1 to 8 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.2s;
      }
    }
    &:last-of-type {
      border: none;
    }
    a {
      color: #000;
      display: block;
      padding: 2% 0;
      @media (min-width: $screen-md-min) {
        padding: (10px * 0.46) (20px * 0.46);
      }
      @media (min-width: $screen-md-min) {
        padding: (10px * 0.73) (20px * 0.73);
      }
      @media (min-width: $screen-xl-min) {
        padding: 10px 20px;
      }
      &:hover {
        color: $color1;
      }
      &:focus {
        text-decoration: none;
      }
      &[data-toggle="collapse"] {
        &[aria-expanded="true"] {
          color: $color1;
        }
      }
    }
    &.isSocial {
      font-size: 34px * 0.46;
      padding-top: 30px * 0.46;
      @media (min-width: $screen-md-min) {
        font-size: 34px * 0.73;
        padding-top: 30px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 34px;
        padding-top: 30px;
      }
      a {
        display: inline-block;
        margin: 0 5px;
        padding: (10px * 0.46) (30px * 0.46);
        @media (min-width: $screen-md-min) {
          padding: (10px * 0.73) (30px * 0.73);
        }
        @media (min-width: $screen-xl-min) {
          padding: 10px 30px;
        }
        &:hover {
          color: #000;
          background-color: $color1;
        }
      }
    }
    &.isGlobalNav {
      display: none;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
    &.active {
      > a {
        color: $color1;
      }
    }
  }
  .navSubItems {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.5em;
    @media (max-width: $screen-xs-max) {
      font-size: 0;
    }
    .navSubItem {
      font-family: 'korolev_condensedmedium';
      text-transform: uppercase;
      @media (max-width: $screen-xs-max) {
        font-size: 4vw;
        display: inline-block;
        vertical-align: middle;
        a {
          padding: 5px 10px;
        }
      }
      &.active {
        a {
          color: $color1;
        }
      }
    }
  }
}

html {
  &:not(.mainNavigationOpen) {
    .mainNavigation {
      opacity: 0;
      visibility: hidden;
      .navItem {
        transition-delay: 0s;
        opacity: 0;
        margin-right: -200px;
      }
    }
    .mainNavigationInner {
      opacity: 0;
      transform:translateX(200px);
    }
  }
  &.mainNavigationOpen {
    .headerWrap {
      position: fixed;
    }
  }
}