.sgh_sectionHighlight {
  .sgh_sectionInner {
    position: relative;
    .sgh_sectionHighlightLength {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
      font-size: 21px;
      text-align: center;
      color: #fff;
      @include transitionFast(all);
      @media (max-width: $screen-sm-max) {
        transform: translateY(-30px);
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
      > * {
        display: block;
        &:first-child {
          color: $color1;
        }
      }
    }
  }
  .sgh_items {
    &.isSlider {
      background-color: #000;
      .sgh_item {
        width: 100%;
        &:not(.is-selected) {
          .thumbnailHighlight {
            .imageWrap {
              opacity: 0.3;
            }
            .caption {
              .captionInner {
                &:after {
                  transform: translateY(20px);
                  transition-delay: 0s;
                  opacity: 0;
                }
              }
              .titleText {
                transform: translateY(20px);
                transition-delay: 0s;
                opacity: 0;
              }
              .desc {
                transform: translateY(20px);
                transition-delay: 0s;
                opacity: 0;
              }
              .buttonWrap {
                transform: translateY(20px);
                transition-delay: 0s;
                opacity: 0;
              }
            }
          }
        }
      }
      .flickity-viewport {
        z-index: 0;
      }
      .flickity-prev-next-button {
        z-index: 1;
        margin: 0;
        transform: translateY(0);
        width: 20px;
        height: 20px;
        opacity: 0;
        display: block;
        padding: 0;
        @include transitionFast(all);
        @media (max-width: $screen-xs-max) {
          display: none;
        }
        .flickity-button-icon {
          width: 12px;
          height: 12px;
        }
      }
      .flickity-page-dots {
        z-index: 2;
        position: absolute;
        right: 0;
        left: auto;
        bottom: auto;
        width: auto;
        opacity: 0;
        @include transitionFast(all);
        @media (min-width: $screen-sm-min) {
          @include absolutecenter(y);
        }
        @media (max-width: $screen-xs-max) {
          right: 0 !important;
          left: 0 !important;
          bottom: 10px;
        }
        .dot {
          width: 20px;
          height: 20px;
          border: 2px solid #fff;
          background-color: transparent;
          opacity: 1;
          @include transitionFast(all);
          @media (min-width: $screen-sm-min) {
            margin: 0 0 15px;
            display: block;
          }
          @media (min-width: $screen-md-min) {
            margin-bottom: 20px;
          }
          @media (max-width: $screen-xs-max) {
            width: 12px;
            height: 12px;
            margin: 0 5px;
          }
          &:after {
            content: '';
            display: block;
            background-color: #fff;
            width: 2px;
            height: 0;
            opacity: 0;
            margin-top: 0;
            @media (min-width: $screen-sm-min) {
              @include absolutecenter(x);
              top: 100%;
            }
            @media (max-width: $screen-xs-max) {
              @include absolutecenter(y);
              left: 100%;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          &.is-selected {
            position: relative;
            background-color: #fff;
            @media (max-width: $screen-xs-max) {
              margin-right: 40px;
            }
            @media (min-width: $screen-sm-min) {
              margin-bottom: 120px;
            }
            @media (min-width: $screen-md-min) {
              margin-bottom: 170px;
            }
            &:after {
              opacity: 1;
              @include transitionFast(all,0.2s,0.4s);
              @media (min-width: $screen-sm-min) {
                margin-top: 15px;
                height: 90px;
              }
              @media (min-width: $screen-md-min) {
                margin-top: 20px;
                height: 130px;
              }
              @media (max-width: $screen-xs-max) {
                margin-left: 10px;
                height: 2px;
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
  &.isGmap {
    .sgh_sectionInner {
      .thumbnailHighlight {
        .image {
          @media (max-width: $screen-xs-max) {
            padding-bottom: 144.7%;
          }
          > * {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
    .map-content {
      @media (max-width: $screen-xs-max) {
        font-size: 12px;
      }
      img {
        width: auto;
        height: auto;
        max-width: 100%;
      }
      .map-icon {
        display: inline-block;
      }
    }
  }
  &.isSM {
    .thumbnailHighlight {
      .image {
        @media (min-width: $screen-sm-min) {
          height: 400px;
        }
      }
    }
  }
}
.thumbnailHighlight {
  position: relative;
  .imageWrap {
    @include transitionFast(all,0.4s,0.4s);
  }
  .image {
    overflow: hidden;
    position: relative;
    @media (min-width: $screen-sm-min) {
      height: 1578px * 0.46;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    @media (min-width: $screen-md-min) {
      height: 100vh;
    }
    img {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        height: auto;
      }
    }
  }
  .captionWrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    @media (min-width: $screen-sm-min) {
      top: 570px * 0.46;
    }
    @media (min-width: $screen-md-min) {
      top: 40vh;
    }
  }
  .caption {
    word-break: break-word;
    @media (min-width: $screen-sm-min) {
      max-width: 640px * 0.46;
    }
    @media (min-width: $screen-md-min) {
      max-width: 640px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      max-width: 640px;
    }
    .titleText {
      color: #fff;
      font-family: 'korolev_condensedbold';
      line-height: 1;
      position: relative;
      margin: 0 0 (15px * 0.46);
      font-size: 10vw;
      @include transitionFast(all,0.4s,0.4s);
      @media (min-width: $screen-sm-min) {
        font-size: 70px * 0.46;
      }
      @media (min-width: $screen-md-min) {
        margin: 0 0 (15px * 0.73);
        font-size: 70px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        margin: 0 0 15px;
        font-size: 70px;
      }
      &:after {
        content: '';
        display: block;
        height: 3px;
        background-color: $color1;
        margin-top: 5px;
        width: 84px;
      }
      // span {
      //   &.isHL1 {
      //     font-size: 13vw;
      //     @media (min-width: $screen-sm-min) {
      //       font-size: 1.5em;
      //     }
      //   }
      // }
    }
    .desc {
      @media (min-width: $screen-sm-min) {
        font-size: 22px * 0.46;
      }
      @media (min-width: $screen-md-min) {
        font-size: 22px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 22px;
      }
      margin-bottom: 20px;
      @include transitionFast(all,0.5s,0.4s);
    }
    .buttonWrap {
      @include transitionFast(all,0.4s,0.4s);
    }
    .captionInner {
      position: relative;
      padding: 10px;
      margin-bottom: 20px;
      display: inline-block;
      @media (min-width: $screen-sm-min) {
        padding: 20px;
      }
      @media (min-width: $screen-xl-min) {
        padding: 40px;
      }
      &:after {
        @include transitionFast(all,0.6s,0.4s);
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        background-color: rgba(#fff, 0.9);
        @media (min-width: $screen-sm-min) {
          padding: 10px;
        }
        @media (min-width: $screen-xl-min) {
          padding: 15px;
        }
      }
      > * {
        position: relative;
        z-index: 1;
      }
      .titleText {
        color: $color1;
      }
      .desc {
        margin-bottom: 0;
      }
    }
  }
}