.sgh_sectionNewsHighlight {
  background-image: url('#{$pathIMG}/newsSliderBG.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
  padding-bottom: 10%;
  @media (min-width: $screen-sm-min) {
    padding-top: 440px * 0.73;
    padding-bottom: 90px * 0.73;
  }
  @media (min-width: $screen-xl-min) {
    padding-top: 440px;
    padding-bottom: 90px;
  }
  .sgh_sectionHeader {
    @media (max-width: $screen-xs-max) {
      text-align: left;
    }
    .titleText {
      &:after {
        @media (max-width: $screen-xs-max) {
          margin-left: 0;
        }
      }
    }
    .desc {
      color: #fff;
      @media (max-width: $screen-xs-max) {
        max-width: none;
        margin-right: 20%;
      }
    }
  }
  .sgh_items {
    .sgh_item {
      vertical-align: top;
      display: inline-block;
      width: 46%;
      padding-left: 5px;
      padding-right: 5px;
      @media (min-width: $screen-sm-min) {
        width: (100% / 3);
        padding-left: 15px * 0.73;
        padding-right: 15px * 0.73;
      }
      @media (min-width: $screen-md-min) {
        width: (100% / 4);
      }
      @media (min-width: $screen-xl-min) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    &.isSlider {
      font-size: 0;
      white-space: nowrap;
      margin-left: -5px;
      margin-right: -5px;
      @media (min-width: $screen-sm-min) {
        margin-left: -15px * 0.73;
        margin-right: -15px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        margin-left: -15px;
        margin-right: -15px;
      }
      .thumbnailNews {
        white-space: normal;
        .caption {
          .button {
            a {
              @media (max-width: $screen-xs-max) {
                padding-bottom: 30%;
              }
            }
          }
        }
      }
      &:not(.flickity-enabled) {
        overflow: hidden;
      }
    }
    &.flickity-enabled {
      padding-bottom: 60px;
      .flickity-page-dots {
        bottom: 15px;
        .dot {
          opacity: 1;
          background-color: #a7a7a7;
          &.is-selected {
            background-color: $color1;
          }
        }
      }
    }
  }
}

.thumbnailNews {
  background-color: #fff;
  margin-bottom: 30px;
  .imageWrap {
    a {
      display: block;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .captionWrap {
    background-color: #fff;
    padding: 10px 10px 0;
    a {
      display: block;
    }
  }
  .caption {
    word-break: break-word;
    .date {
      color: #939393;
      font-size: 3.2vw;
      margin-bottom: 5px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
    .titleText {
      color: $color1;
      font-size: 3.6vw;
      margin: 0 0 5px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
    .desc {
      color: #333;
      margin: 0;
      font-size: 3.2vw;
      @media (min-width: $screen-sm-min) {
        font-size: 14px;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 16px;
      }
    }
    .button {
      font-size: 3.2vw;
      margin: 0 -10px;
      @media (min-width: $screen-sm-min) {
        font-size: 14px;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 16px;
      }
      a {
        display: block;
        text-align: right;
        color: #333333;
        position: relative;
        overflow: hidden;
        @media (max-width: $screen-xs-max) {
          height: auto;
          padding-bottom: 15%;
        }
        @media (min-width: $screen-sm-min) {
          padding: 40px 10px 10px;
          height: 80px;
        }
        &:after {
          content: '';
          position: absolute;
          z-index: 0;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-image: url('#{$pathIMG}/thumbnailNewsDecor.png');
          background-position: right top;
          background-repeat: no-repeat;
          background-size: auto 100%;
          transform: translateY(30px);
          opacity: 0;
          @include transition(all, 0s, 0.3s);
        }
        > span {
          @include transition(all, 0s, 0.3s);
          position: relative;
          display: inline-block;
          z-index: 1;
          @media (max-width: $screen-xs-max) {
            position: absolute;
            right: 10px;
            bottom: 10px;
          }
        }
        [class*="ftlo-"] {
          @include transition(all, 0s, 0.3s);
          @include absolutecenter(y);
          opacity: 0;
          right: -10px * 0.73;
          @media (min-width: $screen-xl-min) {
            right: -10px;
          }
        }
        &:hover {
          &:after {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0.2s;
          }
          > span {
            padding-right: 28px * 0.73;
            @media (min-width: $screen-xl-min) {
              padding-right: 28px;
            }
            [class*="ftlo-"] {
              right: 0;
              opacity: 1;
            }
          }
        }        
      }
    }
  }
}

