.sgh_sectionContactDetail {
  .contactAddress {
    font-size: 4vw;
    color: #333333;
    @media (min-width: $screen-sm-min) {
      font-size: 22px * 0.46;
    }
    @media (min-width: $screen-md-min) {
      font-size: 22px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 22px;
    }      
    .list-unstyled {
      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    [class*=ftlo-] {
      color: $color1;
      &:before {
        font-size: 1.2em;
      }
    }
  }
}

html {
  &.svg {
    .map-icon {
      display: inline-block;
      background-image: url('#{$pathIMG}/map-logo-singha.svg');
      background-size: auto 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      img {
        opacity: 0;
      }
    }
  }
}