.sgh_sectionProductsHighlight {
  padding-top: 10%;
  @media (min-width: $screen-sm-min) {
    padding-top: 60px * 0.73;
  }
  @media (min-width: $screen-xl-min) {
    padding-top: 60px;
  }
  .sgh_item {
    &:last-child {
      .thumbnailProducts {
        margin-bottom: 0;
      }
    }
  }
  + .sgh_sectionNewsHighlight {
    @media (min-width: $screen-xl-min) {
      margin-top: -30px;
    }
  }
}

.thumbnailProductsHighlight {
  margin-bottom: 10%;
  position: relative;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 120px * 0.73;
    @include clearfix;
  }
  @media (min-width: $screen-xl-min) {
    margin-bottom: 120px;
  }
  .imageWrap {
    padding-top: 25%;
    padding-right: 10%;
    margin-bottom: 5%;
    position: relative;
    z-index: 2;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
      float: right;
      width: 64%;
      padding-left: 30px * 0.46;
      padding-right: 218px * 0.46;
      padding-top: 100px * 0.46;    
    }
    @media (min-width: $screen-md-min) {
      padding-left: 30px * 0.73;
      padding-right: 218px * 0.73;
      padding-top: 100px * 0.73;
    }
    @media (min-width: $screen-xl-min) {
      padding-left: 30px;
      padding-right: 218px;
      padding-top: 100px;
    }
    .imageDecor {
      position: relative;
      &:after {
        content: '';
        background-image: url('#{$pathIMG}/thumbnailProductDecor.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        position: absolute;
        z-index: 0;
        right: -11%;
        top: -12%;
        left: 50%;
        bottom: 0;
        @media (min-width: $screen-sm-min) {
          right: -218px * 0.46;
          top: -100px * 0.46;
        }
        @media (min-width: $screen-md-min) {
          right: -218px * 0.73;
          top: -100px * 0.73;
          width: 585px * 0.73;
          height: 470px * 0.73;
        }
        @media (min-width: $screen-xl-min) {
          right: -218px;
          top: -100px;
          width: 585px;
          height: 470px;
        }
      }
      .image {
        z-index: 1;
      }
    }
  }
  .captionWrap {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: 36%;
    }
  }
  .caption {
    word-break: break-word;
    @media (min-width: $screen-sm-min) {
      position: relative;
      overflow: hidden;
      padding: (100px * 0.46) 0 0 (100px * 0.46);
    }
    @media (min-width: $screen-md-min) {
      padding: (100px * 0.73) 0 0 (100px * 0.73);
    }
    @media (min-width: $screen-xl-min) {
      padding: 100px 0 0 100px;
    }
    > * {
      position: relative;
      z-index: 1;
    }
    .number {
      color: #e8e7e7;
      font-family: 'korolev_condensedbold';
      line-height: 1;
      z-index: 0;
      position: absolute;
      left: 0;
      top: -2%;
      font-size: 34.2vw;
      @media (min-width: $screen-sm-min) {
        font-size: 414px * 0.46;
        top: -50px * 0.46;
      }
      @media (min-width: $screen-md-min) {
        font-size: 414px * 0.73;
        top: -50px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 414px;
        top: -50px;
      }
    }
    .titleText {
      color: $color1;
      font-family: 'korolev_condensedbold';
      line-height: 1;
      font-size: 7.6vw;
      margin: 0;
      @media (max-width: $screen-xs-max) {
        position: absolute;
        left: 10%;
        top: 7%;
        right: 57%;
        padding-bottom: 14%;
        .titleTextInner {
          position: absolute;
          left: 0;
          bottom: 15%;
        }
      }
      @media (min-width: $screen-sm-min) {
        font-size: 60px * 0.46;
        margin: 0 0 25px * 0.46;
      }
      @media (min-width: $screen-md-min) {
        font-size: 60px * 0.73;
        margin: 0 0 25px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 60px;
        margin: 0 0 25px;
      }
      &:after {
        content: '';
        display: block;
        background-color: $color1;
        width: 30px;
        margin-top: 2%;
        @media (max-width: $screen-xs-max) {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
        }
        @media (min-width: $screen-sm-min) {
          height: 3px;
          width: 84px;
          margin-top: 25px;
        }
      }
    }
    .desc {
      margin-bottom: 5%;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
      }
    }
  }
  &.isDiff {
    .imageWrap {
      @media (max-width: $screen-xs-max) {
        padding-right: 0;
        padding-left: 10%;
      }      
      @media (min-width: $screen-sm-min) {
        float: left;
        padding-right: 0;
        padding-left: 248px * 0.46;
      }
      @media (min-width: $screen-md-min) {
        padding-left: 248px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        padding-left: 248px;
      }
      .imageDecor {
        &:after {
          @media (max-width: $screen-xs-max) {
            left: -11%;
            right: 50%;
          }
          @media (min-width: $screen-sm-min) {
            right: auto;
            left: -218px * 0.46;
          }
          @media (min-width: $screen-md-min) {
            left: -218px * 0.73;
          }
          @media (min-width: $screen-xl-min) {
            left: -218px;
          }
        }
      }
    }
    .captionWrap {
      @media (min-width: $screen-sm-min) {
        float: right;
        padding-left: 70px * 0.46;
      }
      @media (min-width: $screen-md-min) {
        padding-left: 70px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        padding-left: 70px;
      }
    }
    .caption {
      word-break: break-word;
      .number {
        @media (max-width: $screen-xs-max) {
          left: auto;
          right: 0;
        }
      }
      .titleText {
        @media (max-width: $screen-xs-max) {
          right: 0;
          left: 57%;
          .titleTextInner {
            right: 0;
            left: auto;
          }
          &:after {
            left: auto;
            right: 0;
          }
        }
      }
      .button {
        @media (max-width: $screen-xs-max) {
          text-align: right;
        }
      }
    }
  }
}