.sgh_sectionArticle {
  article {
    font-size: 24px * 0.73;
    line-height: 1.2;
    @media (min-width: $screen-xl-min) {
      font-size: 24px;
      line-height: 1.4;
    }
    img {
      max-width: 100%;
      height: auto !important;
    }
    figure {
      margin-bottom: 30px * 0.73;
      @media (min-width: $screen-xl-min) {
        margin-bottom: 30px;
      }
    }
    p {
      margin-bottom: 30px * 0.73;
      @media (min-width: $screen-xl-min) {
        margin-bottom: 30px;
      }
    }
  }
  &.isNewsDetail {
    article {
      max-width: 1110px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.sgh_sectionArticleFeature {
  margin-bottom: 30px;
  @media (min-width: $screen-sm-min) {
    @include clearfix;
  }
  .breadcrumbTheme {
    margin-bottom: 10px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
      float: left;
    }
    nav {
      > * {
        display: inline-block;
        a {
          color: #333;
          &:hover {
            text-decoration: underline;
          }
        }
        &:not(:last-child) {
          &:after {
            content: ' / ';
            margin-left: 3px;
            margin-right: 3px;
          }
        }
        &:last-child {
          span {
            color: $color1;
          }
        }
      }
    }
  }
  .simpleButtons {
    text-align: right;
    @media (min-width: $screen-sm-min) {
      float: right;
      text-align: left;
    }
    a {
      color: #333333;
      &:hover {
        color: $color1;
      }
    }
  }
}