// START: Min Width
// @media (min-width: $screen-xs-min) {}
// @media (min-width: $screen-sm-min) {} * 0.46
// @media (min-width: $screen-md-min) {}
// @media (min-width: $screen-lg-min) {} * 0.73
// @media (min-width: $screen-xl-min) {}
// @media (min-width: $headerBreakpoint) {}

// START: Max Width
// @media (max-width: $screen-vs-max) {}
// @media (max-width: $screen-xs-max) {}
// @media (max-width: $screen-sm-max) {}
// @media (max-width: $screen-md-max) {}
// @media (max-width: $screen-lg-max) {}
// @media (max-width: $headerBreakpoint) {}
// @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) and (orientation: landscape) {}

// background-image: url('#{$pathIMG}/');

// font-family: 'korolev_condensedmedium';
// font-family: 'korolev_condensedbold';
// font-family: 'korolev_condensedheavy';

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// Very extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-vs:                  360px !default;
//** Deprecated `$screen-vs-min` as of v3.2.0
$screen-vs-min:              $screen-vs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-vs-phone:            $screen-vs-min !default;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xl:                  1760px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-vs-max:              ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;




// Color
// primary color
$color1: #fac214;
$colorFormFocus: $color1;

// Path into assets
$pathAssets:'..';
$pathIMG:'#{$pathAssets}/img';
// '#{$pathIMG}/'

$pathFONT:'#{$pathAssets}/fonts';
// '#{$pathFONT}/'