@charset "UTF-8";
@import '_vars.scss';
@import '_mixin.scss';
@import '_font-face.scss';
@import '_browserHappy.scss';
@import '_sprite.scss';
@import '_general.scss';
@import '_button.scss';
@import '_header.scss';
@import '_navigation.scss';
@import '_form.scss';
@import '_cropThumbnail.scss';
@import '_fontello.scss';
@import '_footer.scss';

@import '_sectionHighlight.scss';
@import '_sectionProducts.scss';
@import '_sectionNews.scss';
@import '_sectionContact.scss';
@import '_sectionArticle.scss';


.thumbnailProduct {
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
  .captionWrap {
    padding-top: 10px;
    position: relative;
    z-index: 2;
    .caption {
      word-break: break-word;
      padding: 0 15px 15px;
      @media (min-width: $screen-sm-min) {
        padding: 0 (70px * 0.46) 30px;
      }
      @media (min-width: $screen-md-min) {
        padding: 0 (70px * 0.73) 30px;
      }
      @media (min-width: $screen-xl-min) {
        padding: 0 70px 30px;
      }        
      .titleText {
        margin-top: 0;
      }
      .button {
        padding-top: 15px;
      }
    }
  }
}
.sgh_sectionProductDetailFeature {
  margin-bottom: 15px;
  a {
    color: #fff;
  }
}
.sgh_sectionProductDetailIntro {
  margin-bottom: 1%;
  .sgh_sectionInner {
    padding-left: 6%;
    padding-right: 6%;
  }
  .sgh_sectionHeader {
    margin-bottom: 15px;
    .titleText {
      color: #333;
      &:after {
        background-color: #333;
      }
    }
    .titleText_sub {
      color: #c51a33;
    }
    .desc {   
      @media (min-width: $screen-lg-min) {
        width: 424px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        width: 424px;
      }
    }
  }
  .sgh_shortcutLinks {
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
    a {
      color: #333;
      display: inline-block;
      &:hover {
        [class*=ftlo] {
          margin-right: 20px;
          transform: scale(1.15);
        }
      }
    }
    [class*=ftlo] {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      @include transitionFast(all);
      &:before {
        font-size: 3rem;
        margin: 0;
      }
      ~ * {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .list-inline {
      @media (max-width: $screen-xs-max) {
        display: inline-block;
      }
      li {
        @media (max-width: $screen-xs-max) {
          display: block;
          margin-bottom: 15px;
          text-align: left;
        }
      }
    }
  }
}

.sgh_sectionProductDetailHighlight {
  margin-bottom: 30px;
  .sgh_sectionInner {
    padding-left: 4%;
    padding-right: 8%;
  }
  .sgh_items {
    font-size: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .sgh_item {
    font-size: 1.1rem;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 5%;
    }
    .thumbnailProductHighlight {
      padding-right: 42%;
      position: relative;
      .imageWrap {
        margin-left: -8%;
        margin-right: -5%;
        position: relative;
      }
      .captionWrap {
        position: absolute;
        right: 0;
        width: 42%;
        bottom: 10%;
        @media (min-width: $screen-sm-min) {
          bottom: 8%;
        }
        @media (min-width: $screen-lg-min) {
          bottom: 12%;
        }
      }
      .caption {
        word-break: break-word;
        .list-unstyled {
          li {
            @media (min-width: $screen-sm-min) {
              padding-top: 5px;
              padding-bottom: 5px;
            }
            @media (min-width: $screen-lg-min) {
              padding-top: 10px;
              padding-bottom: 10px;
            }
            &:not(:last-child) {
              border-bottom: 1px solid $color1;
            }
            &.isTitleText {
              font-size: 2.32em;
              padding: 0;
            }
          }
        }
      }
      &.hideCaption {
        padding-left: 0;
        padding-right: 0;
        @media (min-width: $screen-sm-min) {
          padding-left: 22%;
          padding-right: 22%;
        }
        .captionWrap {
          opacity: 0;
        }
      }
    }
  }
  + .sgh_sectionProductDetail {
    padding-top: 10vw;
    @media (min-width: $screen-sm-min) {
      padding-top: 100px * 0.46;
    }
    @media (min-width: $screen-lg-min) {
      padding-top: 100px * 0.73;
    } 
    @media (min-width: $screen-xl-min) {
      padding-top: 100px;
    }
  }
}
.sgh_sectionProductDetail {
  padding-top: 10vw * 0.5;
  @media (min-width: $screen-sm-min) {
    padding-top: 50px * 0.46;
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 50px * 0.73;
  } 
  @media (min-width: $screen-xl-min) {
    padding-top: 50px;
  }
}
.thumbnailProductDetail {
  margin-bottom: 30px;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 60px;
  }
  .image {
    margin-bottom: 30px;
  }
  .caption {
    word-break: break-word;
    > * {
      margin: 0 0 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .titleText {
      font-size: 2.4em;
      .isHL1 {
        color: $color1;
      }
    }
    p {
      @media (max-width: $screen-xs-max) {
        br {
          display: none;
        }
      }
    }
  }
}
.sgh_sectionRepresentative {
  .nav-tabs {
    display: flex;
    align-items: flex-end;
    border: 0;
    margin: 0 -2px 15px;
    @media (min-width: $screen-sm-min) {
      margin: 0 -10px 30px;
    }
    @media (min-width: $screen-xl-min) {
      margin: 0 -15px 30px;
    }
    li {
      float: none;
      position: relative;
      padding: 0 2px;
      margin: 0;
      flex-basis: 100%;
      @media (min-width: $screen-sm-min) {
        padding: 0 10px;
      }
      @media (min-width: $screen-xl-min) {
        padding: 0 15px;
      }
      a {
        display: block;
        text-align: center;
        color: #333333;
        margin: 0;
        border: 0 !important;
        background-color: transparent !important;
        padding: 0;
        font-size: 0.6em;
        @media (min-width: $screen-sm-min) {
          font-size: 2.4em;
          font-size: 22px * 0.46;
        }
        @media (min-width: $screen-lg-min) {
          font-size: 22px * 0.73;
        }
        @media (min-width: $screen-xl-min) {
          font-size: 22px;
        }
        .titleText {
          display: block;
          margin-bottom: 5px;
          @media (min-width: $screen-sm-min) {
            margin-bottom: 15px;
          }
        }
        figure {
          display: inline-block;
          position: relative;
          border: 1px solid #b2b2b2;
          overflow: hidden;
          img {
            position: relative;
            z-index: 0;
            + img {
              position: absolute;
              z-index: 1;
              opacity: 0;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              @include transition(all);
            }
          }
        }
        &:hover {
          color: $color1;
          figure {
            border: 1px solid $color1;
          }
        }
      }
      &.active {
        a {
          color: $color1;
          figure {
            border: 1px solid $color1;
            img {
              + img {
                opacity: 1;
              }
            }
          }          
        }
      }
    }
  }
  .tab-content {
    position: relative;
    border-top: 1px solid $color1;
    padding-top: 30px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -2px;
      height: 3px;
      background-color: $color1;
      width: 12%;
    }
    @media (max-width: $screen-xs-max) {
      .row {
        margin-left: -5px;
        margin-right: -5px;
        > * {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
  .media-title {
    margin: 0 0 5px;
    font-size: inherit;
    font-weight: bold;
  }
  .media {
    margin: 0 0 15px;
    @media (min-width: $screen-xl-min) {
      margin: 0 0 30px;
    }
    .media-left {
      padding-top: 5px;
      width: 10vw;
      @media (min-width: $screen-sm-min) {
        width: 80px * 0.46;
      }
      @media (min-width: $screen-lg-min) {
        width: 80px * 0.73;
      }
      @media (min-width: $screen-xl-min) {
        width: 80px;
      }      
      img {
        width: auto;
        height: 4vw;
        @media (min-width: $screen-sm-min) {
          height: 35px * 0.46;
        }
        @media (min-width: $screen-lg-min) {
          height: 35px * 0.73;
        }
        @media (min-width: $screen-xl-min) {
          height: 35px;
        }
      }
    }
    .media-left-inner {
      display: inline-block;
    }
    .media-left-brand {
      img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 3.5vw;
        margin-top: 1vw;
        @media (min-width: $screen-sm-min) {
          width: 32px * 0.46;
          margin-top: 5px * 0.46;
        }
        @media (min-width: $screen-lg-min) {
          width: 32px * 0.73;
          margin-top: 5px * 0.73;
        }
        @media (min-width: $screen-xl-min) {
          margin-top: 5px;
          width: 32px;
        }
      }
    }
    .media-body {
      width: auto;
    }
  }
}

.sgh_sectionAgeVerification {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('#{$pathIMG}/highlight-ageVerification.png');
  .sgh_sectionInner {
    height: 100vh;
  }
  .ageVerificationForm {
    @include absolutecenter(x);
    text-align: center;
    top: 5%;
    @media (min-width: $screen-sm-min) {
      width: 450px;
      top: 5vh;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
    .ageVerificationBrand {
      margin-bottom: 10px;
      @media (max-width: $screen-xs-max) {
        img {
          width: 30vw;
        }
      }
    }
    .ageVerificationTitle {
      color: #fff;
      font-family: 'korolev_condensedbold';
      margin-bottom: 10px;
      font-size: 6vw;
      @media (min-width: $screen-sm-min) {
        font-size: 26px;
      }
    }
    .ageVerificationDesc {
      color: #333333;
      @media (min-width: $screen-sm-min) {
        font-size: 12px;
      }
      a {
        color: #333333;
        text-decoration: underline;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
    .formTheme {
      @media (min-width: $screen-sm-min) {
        width: 100%;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        @include clearfix;
      }
      .form-group {
        @media (min-width: $screen-sm-min) {
          float: left;
          &:not(:first-child) {
            padding-left: 10px;
          }
          &.isCountry {
            width: 50%;
          }
          &.isBirthYear {
            width: 25%;
          }
          &.isButton {
            width: 25%;
            .btn {
              font-size: 14px;
              min-width: 0;
            }
          }
        }
      }
    }
  }
}

.dropdown {
  &.isNavTab {
    margin-bottom: 15px;
    .dropdown-toggle {
      text-align: left;
      position: relative;
      .caret {
        @include absolutecenter(y);
        right: 10px;
        @include transition(all);
      }
      .image {
        width: 34px;
        display: inline-block;
        margin-right: 5px;
      }
    }
    .dropdown-menu {
      width: 100%;
      white-space: normal;
      li {
        a {
          padding-top: 6px;
          padding-left: 60px;
          padding-bottom: 6px;
          min-height: 50px;
          display: block;
          position: relative;
          color: #000;
          &:hover,
          &:focus {
            background: none;
            color: #000;
          }
          > * {
            display: block;
          }
          figure {
            position: absolute;
            width: 40px;
            left: 10px;
            top: 0;
          }
        }
        &.active {
          a {
            background: none;
            color: #000;
          }
        }
      }
    }
    &.open {
      .caret {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
}

html.svg {
  .ageVerificationBrand {
    text-align: center;
    figure {
      display: inline-block;
      background-image: url('#{$pathIMG}/logo-singha.svg');
      background-size: 100% auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    img {
      opacity: 0;
    }
  }
} 