@charset "UTF-8";
@font-face {
  font-family: 'korolev_condensedbold';
  src: url("../fonts/korolev_condensed_bold-webfont.woff2") format("woff2"), url("../fonts/korolev_condensed_bold-webfont.woff") format("woff"), url("../fonts/korolev_condensed_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'korolev_condensedheavy';
  src: url("../fonts/korolev_condensed_heavy-webfont.woff2") format("woff2"), url("../fonts/korolev_condensed_heavy-webfont.woff") format("woff"), url("../fonts/korolev_condensed_heavy-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'korolev_condensedmedium';
  src: url("../fonts/korolev_condensed_medium-webfont.woff2") format("woff2"), url("../fonts/korolev_condensed_medium-webfont.woff") format("woff"), url("../fonts/korolev_condensed_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.browsehappy {
  padding: 20px 30px;
  background-color: #302E2E;
  color: #FF4045;
  text-align: center;
  font-size: 16px; }
  .browsehappy a {
    color: #FF5559;
    border-bottom: 3px dotted #FF4045;
    padding-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
    text-decoration: none; }
    .browsehappy a:hover {
      color: #ff888b;
      border-color: #ff888b; }

.sprite {
  background-image: url("../img/_sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 0; }

html,
body {
  font-family: 'korolev_condensedmedium';
  overflow-x: hidden; }
  @media (min-width: 1760px) {
    html,
    body {
      font-size: 18px; } }
  @media (max-width: 767px) {
    html,
    body {
      font-size: 3.6vw; } }

a, button {
  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  outline: none !important; }
  a:hover, button:hover {
    text-decoration: none; }

strong,
b {
  font-family: 'korolev_condensedbold'; }

.displayInlineBlocks > * {
  display: inline-block; }

figure,
.image {
  text-align: center; }
  figure img,
  .image img {
    max-width: 100%;
    height: auto; }

.embed-responsive-1by1 {
  padding-bottom: 100%; }

@media (min-width: 1760px) {
  .container {
    width: 1600px; } }

.sgh_sectionHeader {
  word-break: break-word;
  margin-bottom: 30px; }
  @media (min-width: 1760px) {
    .sgh_sectionHeader {
      margin-bottom: 60px; } }
  @media (max-width: 767px) {
    .sgh_sectionHeader {
      text-align: center; } }
  .sgh_sectionHeader .titleText {
    color: #fac214;
    font-family: 'korolev_condensedbold';
    line-height: 1;
    position: relative;
    margin: 0 0 10px;
    font-size: 11vw; }
    @media (min-width: 768px) {
      .sgh_sectionHeader .titleText {
        margin-bottom: 15px;
        font-size: 32.2px; } }
    @media (min-width: 992px) {
      .sgh_sectionHeader .titleText {
        font-size: 51.1px; } }
    @media (min-width: 1760px) {
      .sgh_sectionHeader .titleText {
        font-size: 70px; } }
    .sgh_sectionHeader .titleText:after {
      content: '';
      display: block;
      height: 3px;
      background-color: #fac214;
      margin-top: 5px;
      width: 84px; }
      @media (max-width: 767px) {
        .sgh_sectionHeader .titleText:after {
          margin-left: auto;
          margin-right: auto;
          width: 20%; } }
  .sgh_sectionHeader .titleText_sub {
    font-size: 7vw; }
    @media (min-width: 768px) {
      .sgh_sectionHeader .titleText_sub {
        margin-bottom: 15px;
        font-size: 15.64px; } }
    @media (min-width: 992px) {
      .sgh_sectionHeader .titleText_sub {
        font-size: 24.82px; } }
    @media (min-width: 1760px) {
      .sgh_sectionHeader .titleText_sub {
        font-size: 34px; } }
  .sgh_sectionHeader .desc {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .sgh_sectionHeader .desc {
        max-width: 467.2px;
        font-size: 10.12px; } }
    @media (min-width: 992px) {
      .sgh_sectionHeader .desc {
        font-size: 16.06px; } }
    @media (min-width: 1760px) {
      .sgh_sectionHeader .desc {
        font-size: 22px;
        max-width: 640px; } }
  .sgh_sectionHeader.isSM .titleText {
    font-size: 9vw; }
    @media (min-width: 768px) {
      .sgh_sectionHeader.isSM .titleText {
        margin-bottom: 15px;
        font-size: 36.8px; } }
    @media (min-width: 992px) {
      .sgh_sectionHeader.isSM .titleText {
        font-size: 58.4px; } }
    @media (min-width: 1760px) {
      .sgh_sectionHeader.isSM .titleText {
        font-size: 80px; } }
  .sgh_sectionHeader.hasFloatButton {
    position: relative; }
    .sgh_sectionHeader.hasFloatButton .titleText {
      position: relative; }
      .sgh_sectionHeader.hasFloatButton .titleText .button {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        right: 0;
        line-height: 1;
        font-size: 0; }
        .sgh_sectionHeader.hasFloatButton .titleText .button a {
          font-size: 20px;
          text-decoration: underline;
          color: #fac214; }
          @media (max-width: 767px) {
            .sgh_sectionHeader.hasFloatButton .titleText .button a {
              font-size: 3.6vw; } }
          .sgh_sectionHeader.hasFloatButton .titleText .button a:hover {
            text-decoration: none; }
  .sgh_sectionHeader.text-center .titleText:after {
    margin-left: auto;
    margin-right: auto; }

.sgh_sectionSubHeader {
  font-size: 6vw;
  margin: 0 0 15px; }
  @media (min-width: 768px) {
    .sgh_sectionSubHeader {
      font-size: 13.8px; } }
  @media (min-width: 992px) {
    .sgh_sectionSubHeader {
      font-size: 21.9px; } }
  @media (min-width: 1760px) {
    .sgh_sectionSubHeader {
      font-size: 30px; } }

.homePage .sgh_wrap {
  background-color: #f8f7f7; }

.sgh_sectionArticle,
.sgh_sectionContactDetail,
.sgh_sectionNewsItems,
.sgh_sectionNewsDetail,
.sgh_sectionProducts,
.sgh_sectionRepresentative,
.sgh_loadmore,
.isDiff {
  background-color: #f8f7f7;
  padding: 30px 0; }
  @media (min-width: 768px) {
    .sgh_sectionArticle,
    .sgh_sectionContactDetail,
    .sgh_sectionNewsItems,
    .sgh_sectionNewsDetail,
    .sgh_sectionProducts,
    .sgh_sectionRepresentative,
    .sgh_loadmore,
    .isDiff {
      padding: 60px 0; } }

.sgh_sectionProductDetailWrap {
  background-color: #f8f7f7;
  position: relative;
  min-height: 700px;
  padding: 30px 0; }
  @media (min-width: 768px) {
    .sgh_sectionProductDetailWrap {
      padding: 60px 0; } }
  .sgh_sectionProductDetailWrap:before {
    content: '';
    background-image: url("../img/bg_decor.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% auto;
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    padding-bottom: 34%; }
  .sgh_sectionProductDetailWrap .sgh_section {
    position: relative;
    z-index: 1; }

.sgh_loadmore {
  text-align: center;
  padding-top: 0;
  margin-top: -30px; }

.sgh_sectionProductDetail img,
.sgh_editor img {
  max-width: 100%;
  height: auto !important; }

.btnHamburger {
  background: none;
  border: none;
  outline: none !important;
  padding: 0;
  height: 19px;
  width: 27px; }
  @media (min-width: 768px) {
    .btnHamburger {
      height: 27.74px;
      width: 39.42px; } }
  @media (min-width: 1760px) {
    .btnHamburger {
      height: 38px;
      width: 54px; } }
  .btnHamburger.btn:before {
    display: none; }
  .btnHamburger .btnHamburgerInner {
    display: block;
    position: relative;
    height: 100%; }
    .btnHamburger .btnHamburgerInner > * {
      display: block;
      background-color: #fff;
      text-align: left;
      overflow: hidden;
      text-indent: -9999px;
      position: absolute;
      left: 0;
      right: 0;
      border-radius: 0;
      height: 2px; }
      @media (min-width: 768px) {
        .btnHamburger .btnHamburgerInner > * {
          height: 4px; } }
      .btnHamburger .btnHamburgerInner > *:nth-child(1) {
        top: 0;
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0.3s, 0s; }
      .btnHamburger .btnHamburgerInner > *:nth-child(2) {
        top: 50%;
        transition-property: opacity, left;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s;
        left: 25%;
        margin-top: -1px; }
        @media (min-width: 768px) {
          .btnHamburger .btnHamburgerInner > *:nth-child(2) {
            margin-top: -2px; } }
      .btnHamburger .btnHamburgerInner > *:nth-child(3) {
        bottom: 0;
        transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform;
        transition-property: bottom, transform, -webkit-transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0.3s, 0s; }
  .btnHamburger .btnHamburgerText {
    font-family: 'korolev_condensedbold';
    color: #fac214;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 100%;
    margin-right: -20px;
    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-size: 16px; }
    @media (min-width: 768px) {
      .btnHamburger .btnHamburgerText {
        font-size: 23.36px; } }
    @media (min-width: 1760px) {
      .btnHamburger .btnHamburgerText {
        font-size: 32px; } }
  .btnHamburger:hover .btnHamburgerInner > *:nth-child(2) {
    left: 0; }
  .btnHamburger.active {
    box-shadow: none; }
    .btnHamburger.active .btnHamburgerInner > * {
      background-color: #000; }
      .btnHamburger.active .btnHamburgerInner > *:nth-child(1) {
        top: 50%;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s, 0.3s;
        margin-top: -1px; }
        @media (min-width: 768px) {
          .btnHamburger.active .btnHamburgerInner > *:nth-child(1) {
            margin-top: -2px; } }
      .btnHamburger.active .btnHamburgerInner > *:nth-child(2) {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
        transition-delay: 0s; }
      .btnHamburger.active .btnHamburgerInner > *:nth-child(3) {
        bottom: 50%;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform;
        transition-property: bottom, transform, -webkit-transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s, 0.3s;
        margin-bottom: -1px; }
        @media (min-width: 768px) {
          .btnHamburger.active .btnHamburgerInner > *:nth-child(3) {
            margin-bottom: -2px; } }
    .btnHamburger.active .btnHamburgerText {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.6s;
      margin-right: 5px; }
      @media (min-width: 1760px) {
        .btnHamburger.active .btnHamburgerText {
          margin-right: 10px; } }

.btn {
  border-radius: 0; }
  .btn.btnTheme {
    border-radius: 0;
    color: #333333;
    background-color: #fff;
    border: 1px solid #fac214;
    font-size: 3.5vw;
    min-width: 46%;
    position: relative;
    overflow: hidden; }
    @media (min-width: 768px) {
      .btn.btnTheme {
        padding: 7.3px;
        font-size: 16.06px;
        min-width: 138.7px; } }
    @media (min-width: 1760px) {
      .btn.btnTheme {
        padding: 10px;
        font-size: 22px;
        min-width: 190px; } }
    .btn.btnTheme:after {
      content: '';
      background-color: #fac214;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
              transform: translateY(100%);
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      transition-delay: 0; }
    .btn.btnTheme > span {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      transition-delay: 0s;
      position: relative;
      display: inline-block;
      z-index: 2; }
    .btn.btnTheme [class*="ftlo-"] {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      transition-delay: 0s;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0; }
      @media (min-width: 768px) {
        .btn.btnTheme [class*="ftlo-"] {
          right: -7.3px; } }
      @media (min-width: 1760px) {
        .btn.btnTheme [class*="ftlo-"] {
          right: -10px; } }
    .btn.btnTheme:hover:after {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
    .btn.btnTheme:hover > span {
      padding-right: 20.44px; }
      @media (min-width: 1760px) {
        .btn.btnTheme:hover > span {
          padding-right: 28px; } }
      .btn.btnTheme:hover > span [class*="ftlo-"] {
        right: 0;
        opacity: 1; }
    .btn.btnTheme.isDown > span {
      transition-delay: 0.25s; }
      .btn.btnTheme.isDown > span [class*="ftlo-"] {
        right: 0;
        margin-top: -10px;
        transition-delay: 0s; }
    .btn.btnTheme.isDown:hover > span {
      transition-delay: 0s; }
      .btn.btnTheme.isDown:hover > span [class*="ftlo-"] {
        margin-top: 0;
        transition-delay: 0.25s; }
    .btn.btnTheme.isHighlight {
      border: 0;
      background-color: #fac214;
      background: linear-gradient(to right, #eac538, #f5e556);
      font-size: 4vw;
      min-width: 53%; }
      @media (min-width: 768px) {
        .btn.btnTheme.isHighlight {
          min-width: 251.85px;
          padding-left: 7.3px;
          padding-right: 7.3px;
          font-size: 21.9px; } }
      @media (min-width: 1760px) {
        .btn.btnTheme.isHighlight {
          min-width: 345px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 30px; } }
      .btn.btnTheme.isHighlight:after {
        display: none; }
      .btn.btnTheme.isHighlight:hover > span {
        padding-right: 32.85px; }
        @media (min-width: 1760px) {
          .btn.btnTheme.isHighlight:hover > span {
            padding-right: 45px; } }
    .btn.btnTheme.isThemeDiff1 {
      color: #fff;
      background-color: #808080;
      border-color: #808080; }

.btnBack {
  color: #fac214;
  font-size: 0;
  display: inline-block; }
  .btnBack > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem; }
  .btnBack [class*=ftlo] {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s; }
    .btnBack [class*=ftlo]:before {
      font-size: 1.3em;
      margin: 0; }
  .btnBack:hover [class*=ftlo] {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    margin-right: 5px; }

.headerWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  padding-top: 6%; }
  @media (min-width: 768px) {
    .headerWrap {
      top: 37px;
      padding-top: 55.2px; } }
  @media (min-width: 992px) {
    .headerWrap {
      padding-top: 7vh; } }
  .headerWrap:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%); }

.headerBrand {
  position: relative;
  z-index: 999;
  font-size: 0; }
  .headerBrand .headerBrandInner {
    display: inline-block; }
    .headerBrand .headerBrandInner > span {
      display: block;
      position: relative; }
      .headerBrand .headerBrandInner > span .image {
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s; }
        .headerBrand .headerBrandInner > span .image img {
          width: 69px; }
          @media (min-width: 992px) {
            .headerBrand .headerBrandInner > span .image img {
              width: 109.5px; } }
          @media (min-width: 1760px) {
            .headerBrand .headerBrandInner > span .image img {
              width: 150px; } }
    .headerBrand .headerBrandInner:hover > span:after {
      bottom: -40%; }
    .headerBrand .headerBrandInner:hover > span .image {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .headerBrand .btnHamburger {
    position: absolute;
    top: 0;
    right: 0; }

html.svg .headerBrand .headerBrandInner > span .image {
  background-image: url("../img/logo-singha.svg");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  html.svg .headerBrand .headerBrandInner > span .image img {
    opacity: 0; }
html.contactPage .headerWrap {
  background-image: url("../img/header-shadow.png");
  background-repeat: repeat-x;
  background-size: 1px 100%; }

.beforeHeader {
  background-color: #010D37;
  display: none; }
  @media (min-width: 768px) {
    .beforeHeader {
      display: block; } }
  .beforeHeader ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .beforeHeader ul li {
      display: block; }
      .beforeHeader ul li:not(:first-child) {
        border-left: 1px solid #fdbc00; }
  .beforeHeader a {
    color: #fdbc00;
    text-decoration: none;
    display: block;
    padding: 8px 30px;
    font-size: 15px; }
    .beforeHeader a:hover {
      background-color: #fdbc00;
      color: #010D37; }

.mainNavigation {
  z-index: 998;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  height: 100vh;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  transition-delay: 0; }
  .mainNavigation .container {
    height: 100%; }
  .mainNavigation .mainNavigationInner {
    position: relative;
    z-index: 1;
    padding: 0;
    background-color: #f8f7f7;
    height: 100%;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0;
    margin: 0 -15px;
    padding-top: 44%;
    text-align: center; }
    @media (min-width: 768px) {
      .mainNavigation .mainNavigationInner {
        text-align: right;
        margin: 0 0 0 auto;
        width: 202.4px;
        padding-top: 124.2px; } }
    @media (min-width: 992px) {
      .mainNavigation .mainNavigationInner {
        width: 321.2px;
        padding-top: 22vh; } }
    @media (min-width: 1760px) {
      .mainNavigation .mainNavigationInner {
        width: 440px;
        padding-top: 270px; } }
    @media (min-width: 768px) {
      .mainNavigation .mainNavigationInner:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        z-index: 0;
        background-image: url("../img/mainNavBG.png");
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
        width: 450px;
        margin-right: -2px; } }
    @media (min-width: 992px) {
      .mainNavigation .mainNavigationInner:before {
        width: 550px; } }
    @media (min-width: 1760px) {
      .mainNavigation .mainNavigationInner:before {
        width: 670px; } }
    @media (min-width: 768px) {
      .mainNavigation .mainNavigationInner:after {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        z-index: 0;
        background-color: #f8f7f7;
        width: 1000px; } }
  .mainNavigation .navItems {
    padding: 0;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    height: 100%;
    position: relative; }
  .mainNavigation .navItem {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'korolev_condensedbold';
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0;
    font-size: 5.7vw; }
    @media (min-width: 768px) {
      .mainNavigation .navItem {
        font-size: 29.44px; } }
    @media (min-width: 992px) {
      .mainNavigation .navItem {
        font-size: 46.72px; } }
    @media (min-width: 1760px) {
      .mainNavigation .navItem {
        font-size: 64px; } }
    .mainNavigation .navItem:nth-child(1) {
      transition-delay: 0.2s; }
    .mainNavigation .navItem:nth-child(2) {
      transition-delay: 0.4s; }
    .mainNavigation .navItem:nth-child(3) {
      transition-delay: 0.6s; }
    .mainNavigation .navItem:nth-child(4) {
      transition-delay: 0.8s; }
    .mainNavigation .navItem:nth-child(5) {
      transition-delay: 1s; }
    .mainNavigation .navItem:nth-child(6) {
      transition-delay: 1.2s; }
    .mainNavigation .navItem:nth-child(7) {
      transition-delay: 1.4s; }
    .mainNavigation .navItem:last-of-type {
      border: none; }
    .mainNavigation .navItem a {
      color: #000;
      display: block;
      padding: 2% 0; }
      @media (min-width: 992px) {
        .mainNavigation .navItem a {
          padding: 4.6px 9.2px; } }
      @media (min-width: 992px) {
        .mainNavigation .navItem a {
          padding: 7.3px 14.6px; } }
      @media (min-width: 1760px) {
        .mainNavigation .navItem a {
          padding: 10px 20px; } }
      .mainNavigation .navItem a:hover {
        color: #fac214; }
      .mainNavigation .navItem a:focus {
        text-decoration: none; }
      .mainNavigation .navItem a[data-toggle="collapse"][aria-expanded="true"] {
        color: #fac214; }
    .mainNavigation .navItem.isSocial {
      font-size: 15.64px;
      padding-top: 13.8px; }
      @media (min-width: 992px) {
        .mainNavigation .navItem.isSocial {
          font-size: 24.82px;
          padding-top: 21.9px; } }
      @media (min-width: 1760px) {
        .mainNavigation .navItem.isSocial {
          font-size: 34px;
          padding-top: 30px; } }
      .mainNavigation .navItem.isSocial a {
        display: inline-block;
        margin: 0 5px;
        padding: 4.6px 13.8px; }
        @media (min-width: 992px) {
          .mainNavigation .navItem.isSocial a {
            padding: 7.3px 21.9px; } }
        @media (min-width: 1760px) {
          .mainNavigation .navItem.isSocial a {
            padding: 10px 30px; } }
        .mainNavigation .navItem.isSocial a:hover {
          color: #000;
          background-color: #fac214; }
    .mainNavigation .navItem.isGlobalNav {
      display: none; }
      @media (max-width: 767px) {
        .mainNavigation .navItem.isGlobalNav {
          display: block; } }
    .mainNavigation .navItem.active > a {
      color: #fac214; }
  .mainNavigation .navSubItems {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.5em; }
    @media (max-width: 767px) {
      .mainNavigation .navSubItems {
        font-size: 0; } }
    .mainNavigation .navSubItems .navSubItem {
      font-family: 'korolev_condensedmedium';
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .mainNavigation .navSubItems .navSubItem {
          font-size: 4vw;
          display: inline-block;
          vertical-align: middle; }
          .mainNavigation .navSubItems .navSubItem a {
            padding: 5px 10px; } }
      .mainNavigation .navSubItems .navSubItem.active a {
        color: #fac214; }

html:not(.mainNavigationOpen) .mainNavigation {
  opacity: 0;
  visibility: hidden; }
  html:not(.mainNavigationOpen) .mainNavigation .navItem {
    transition-delay: 0s;
    opacity: 0;
    margin-right: -200px; }
html:not(.mainNavigationOpen) .mainNavigationInner {
  opacity: 0;
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px); }
html.mainNavigationOpen .headerWrap {
  position: fixed; }

.formTheme {
  font-size: 14px;
  font-family: 'korolev_condensedmedium'; }
  .formTheme .form-group {
    margin-bottom: 20px; }
  .formTheme .form-control {
    border-radius: 0;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .formTheme .form-control:focus {
      border-color: #fac214;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(250, 194, 20, 0.6); }
  .formTheme .bootstrap-select .dropdown-toggle {
    border-radius: 0; }
    .formTheme .bootstrap-select .dropdown-toggle:focus {
      outline: none !important; }
  .formTheme textarea.form-control {
    height: auto; }
  .formTheme .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 42px;
    line-height: 1; }

.form-control-floatText {
  position: relative;
  display: block; }
  .form-control-floatText > .label-control {
    font-weight: normal;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 12px;
    color: #afafaf;
    z-index: 2;
    padding: 0 2px; }
  .form-control-floatText > .form-control {
    position: relative;
    z-index: 1; }
  .form-control-floatText.focus > .label-control, .form-control-floatText.filled > .label-control {
    background-color: #fff;
    box-shadow: 0 0 5px 5px white;
    top: 2px;
    font-size: 0.7em;
    color: #666; }
  .form-control-floatText.isTextArea > .label-control {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    top: 10px; }
  .form-control-floatText.isTextArea.focus > .label-control, .form-control-floatText.isTextArea.filled > .label-control {
    top: -5px; }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
[data-crop] {
  position: relative;
  overflow: hidden; }
  [data-crop]:not(.croped) {
    background-color: #f0f0f0; }
    [data-crop]:not(.croped):before, [data-crop]:not(.croped):after {
      position: absolute;
      left: 50%;
      top: 50%; }
    [data-crop]:not(.croped):before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      margin-top: -12px;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.8); }
    [data-crop]:not(.croped):after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      border-radius: 100%;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-top: 2px solid rgba(255, 255, 255, 0.8);
      -webkit-animation: spinner 0.5s infinite;
              animation: spinner 0.5s infinite; }
    [data-crop]:not(.croped) img {
      opacity: 0; }
  [data-crop] img {
    transition-property: opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    max-width: none !important;
    max-height: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 100% !important;
    width: auto !important; }
  [data-crop].focusX img {
    height: auto !important;
    width: 100% !important; }
  [data-crop][data-crop-reverse="true"] img {
    height: auto !important;
    width: 100% !important; }
  [data-crop][data-crop-reverse="true"].focusX img {
    height: 100% !important;
    width: auto !important; }

[data-crop="16by9"] {
  padding-bottom: 56.25%; }

[data-crop="16by5"] {
  padding-bottom: 31.25%; }

[data-crop="4by3"] {
  padding-bottom: 75%; }

[data-crop="1by1"] {
  padding-bottom: 100%; }

[data-crop="news"] {
  padding-bottom: 66%; }

[data-crop="products"] {
  padding-bottom: 63%; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?5326644");
  src: url("../fonts/fontello.eot?5326644#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?5326644") format("woff2"), url("../fonts/fontello.woff?5326644") format("woff"), url("../fonts/fontello.ttf?5326644") format("truetype"), url("../fonts/fontello.svg?5326644#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?5326644#fontello') format('svg');
  }
}
*/
[class^="ftlo-"]:before, [class*=" ftlo-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.ftlo-right:before {
  content: '\e800'; }

/* '' */
.ftlo-location:before {
  content: '\e801'; }

/* '' */
.ftlo-up:before {
  content: '\e802'; }

/* '' */
.ftlo-phone:before {
  content: '\e803'; }

/* '' */
.ftlo-play-circled2:before {
  content: '\e804'; }

/* '' */
.ftlo-down:before {
  content: '\e805'; }

/* '' */
.ftlo-left-open:before {
  content: '\f007'; }

/* '' */
.ftlo-mail-alt:before {
  content: '\f0e0'; }

/* '' */
.ftlo-doc-text:before {
  content: '\f0f6'; }

/* '' */
.ftlo-fax:before {
  content: '\f1ac'; }

/* '' */
.ftlo-facebook:before {
  content: '\f300'; }

/* '' */
.ftlo-twitter-bird:before {
  content: '\f303'; }

/* '' */
.ftlo-instagram-filled:before {
  content: '\f31f'; }

/* '' */
.sgh_footer {
  background-color: #ffffff; }

.sgh_footerInner {
  padding: 30px 0;
  position: relative; }
  @media (min-width: 992px) {
    .sgh_footerInner:before, .sgh_footerInner:after {
      content: " ";
      display: table; }
    .sgh_footerInner:after {
      clear: both; } }
  @media (max-width: 991px) {
    .sgh_footerInner > .row > *:before, .sgh_footerInner > .row > *:after {
      content: " ";
      display: table; }
    .sgh_footerInner > .row > *:after {
      clear: both; } }
  .sgh_footerInner .sgh_footerBrand {
    float: left; }
    @media (max-width: 767px) {
      .sgh_footerInner .sgh_footerBrand {
        width: 30%; } }
    .sgh_footerInner .sgh_footerBrand .image img {
      height: auto;
      width: 100%; }
      @media (min-width: 768px) {
        .sgh_footerInner .sgh_footerBrand .image img {
          width: 89.06px; } }
      @media (min-width: 1760px) {
        .sgh_footerInner .sgh_footerBrand .image img {
          width: 122px; } }
  .sgh_footerInner .sgh_footerAddress {
    float: left;
    font-family: 'korolev_condensedmedium';
    padding-left: 15px;
    color: #333333;
    font-size: 3.4vw; }
    @media (max-width: 767px) {
      .sgh_footerInner .sgh_footerAddress {
        width: 70%; } }
    @media (min-width: 768px) {
      .sgh_footerInner .sgh_footerAddress {
        font-size: 10.95px; } }
    @media (min-width: 1760px) {
      .sgh_footerInner .sgh_footerAddress {
        font-size: 15px; } }
    .sgh_footerInner .sgh_footerAddress address {
      margin: 0;
      padding: 0; }
      @media (max-width: 767px) {
        .sgh_footerInner .sgh_footerAddress address br {
          display: none; } }
    .sgh_footerInner .sgh_footerAddress p {
      margin: 0; }
    .sgh_footerInner .sgh_footerAddress a {
      color: #333333; }
      .sgh_footerInner .sgh_footerAddress a:hover {
        color: #fac214; }
    .sgh_footerInner .sgh_footerAddress b {
      font-family: 'korolev_condensedbold'; }
    .sgh_footerInner .sgh_footerAddress .ftlo-location {
      font-size: 1.5em;
      color: #fac214;
      vertical-align: middle; }
  .sgh_footerInner .footerSocial {
    text-align: right;
    margin-bottom: 5px;
    padding-top: 13px; }
    @media (max-width: 767px) {
      .sgh_footerInner .footerSocial {
        text-align: center; } }
    @media (min-width: 992px) {
      .sgh_footerInner .footerSocial {
        padding-top: 22px; } }
    @media (min-width: 1760px) {
      .sgh_footerInner .footerSocial {
        margin-bottom: 15px;
        padding-top: 40px; } }
  .sgh_footerInner .footerSocialInner a {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    padding: 5px; }
    @media (min-width: 992px) {
      .sgh_footerInner .footerSocialInner a {
        padding: 10px; } }
    .sgh_footerInner .footerSocialInner a:hover {
      background-color: #fac214; }
  .sgh_footerInner .sgh_footerCopyright {
    text-align: right;
    font-size: 11px;
    color: #939393; }
    @media (max-width: 767px) {
      .sgh_footerInner .sgh_footerCopyright {
        text-align: center;
        font-size: 3.4vw; } }
    .sgh_footerInner .sgh_footerCopyright a {
      color: #939393; }
      .sgh_footerInner .sgh_footerCopyright a:hover {
        color: #fac214; }
    @media (max-width: 991px) {
      .sgh_footerInner .sgh_footerCopyright .sgh_footerCopyrightLinks {
        display: block; } }

.sgh_footerGoToTop {
  position: absolute;
  right: 0;
  top: -32px;
  width: 64px;
  text-align: center; }
  @media (max-width: 767px) {
    .sgh_footerGoToTop {
      width: 40px;
      top: -20px; } }
  .sgh_footerGoToTop a {
    height: 64px;
    display: block;
    border-radius: 100%;
    background-color: #ffffff;
    color: #9fa4af;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    font-size: 0;
    text-align: center; }
    .sgh_footerGoToTop a:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: 0;
      /* Adjusts for spacing */ }
    @media (max-width: 767px) {
      .sgh_footerGoToTop a {
        height: 40px; } }
    .sgh_footerGoToTop a [class*="ftlo-"] {
      display: inline-block;
      vertical-align: middle; }
      .sgh_footerGoToTop a [class*="ftlo-"]:before {
        font-size: 18px; }
        @media (max-width: 767px) {
          .sgh_footerGoToTop a [class*="ftlo-"]:before {
            font-size: 12px; } }
    .sgh_footerGoToTop a:hover {
      background-color: #fac214;
      color: #333; }

html.svg .sgh_footerBrand a .image {
  background-image: url("../img/logo-singha.svg");
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  html.svg .sgh_footerBrand a .image img {
    opacity: 0; }

.sgh_sectionHighlight .sgh_sectionInner {
  position: relative; }
  .sgh_sectionHighlight .sgh_sectionInner .sgh_sectionHighlightLength {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    font-size: 21px;
    text-align: center;
    color: #fff;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s; }
    @media (max-width: 991px) {
      .sgh_sectionHighlight .sgh_sectionInner .sgh_sectionHighlightLength {
        -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
                transform: translateY(-30px); } }
    @media (max-width: 767px) {
      .sgh_sectionHighlight .sgh_sectionInner .sgh_sectionHighlightLength {
        display: none; } }
    .sgh_sectionHighlight .sgh_sectionInner .sgh_sectionHighlightLength > * {
      display: block; }
      .sgh_sectionHighlight .sgh_sectionInner .sgh_sectionHighlightLength > *:first-child {
        color: #fac214; }
.sgh_sectionHighlight .sgh_items.isSlider {
  background-color: #000; }
  .sgh_sectionHighlight .sgh_items.isSlider .sgh_item {
    width: 100%; }
    .sgh_sectionHighlight .sgh_items.isSlider .sgh_item:not(.is-selected) .thumbnailHighlight .imageWrap {
      opacity: 0.3; }
    .sgh_sectionHighlight .sgh_items.isSlider .sgh_item:not(.is-selected) .thumbnailHighlight .caption .captionInner:after {
      -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
              transform: translateY(20px);
      transition-delay: 0s;
      opacity: 0; }
    .sgh_sectionHighlight .sgh_items.isSlider .sgh_item:not(.is-selected) .thumbnailHighlight .caption .titleText {
      -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
              transform: translateY(20px);
      transition-delay: 0s;
      opacity: 0; }
    .sgh_sectionHighlight .sgh_items.isSlider .sgh_item:not(.is-selected) .thumbnailHighlight .caption .desc {
      -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
              transform: translateY(20px);
      transition-delay: 0s;
      opacity: 0; }
    .sgh_sectionHighlight .sgh_items.isSlider .sgh_item:not(.is-selected) .thumbnailHighlight .caption .buttonWrap {
      -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
              transform: translateY(20px);
      transition-delay: 0s;
      opacity: 0; }
  .sgh_sectionHighlight .sgh_items.isSlider .flickity-viewport {
    z-index: 0; }
  .sgh_sectionHighlight .sgh_items.isSlider .flickity-prev-next-button {
    z-index: 1;
    margin: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    width: 20px;
    height: 20px;
    opacity: 0;
    display: block;
    padding: 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s; }
    @media (max-width: 767px) {
      .sgh_sectionHighlight .sgh_items.isSlider .flickity-prev-next-button {
        display: none; } }
    .sgh_sectionHighlight .sgh_items.isSlider .flickity-prev-next-button .flickity-button-icon {
      width: 12px;
      height: 12px; }
  .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots {
    z-index: 2;
    position: absolute;
    right: 0;
    left: auto;
    bottom: auto;
    width: auto;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s; }
    @media (min-width: 768px) {
      .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); } }
    @media (max-width: 767px) {
      .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots {
        right: 0 !important;
        left: 0 !important;
        bottom: 10px; } }
    .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot {
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      background-color: transparent;
      opacity: 1;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      transition-delay: 0s; }
      @media (min-width: 768px) {
        .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot {
          margin: 0 0 15px;
          display: block; } }
      @media (min-width: 992px) {
        .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot {
          margin-bottom: 20px; } }
      @media (max-width: 767px) {
        .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot {
          width: 12px;
          height: 12px;
          margin: 0 5px; } }
      .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot:after {
        content: '';
        display: block;
        background-color: #fff;
        width: 2px;
        height: 0;
        opacity: 0;
        margin-top: 0; }
        @media (min-width: 768px) {
          .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot:after {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            top: 100%; } }
        @media (max-width: 767px) {
          .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot:after {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            left: 100%; } }
      .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot:last-child {
        margin-bottom: 0; }
      .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected {
        position: relative;
        background-color: #fff; }
        @media (max-width: 767px) {
          .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected {
            margin-right: 40px; } }
        @media (min-width: 768px) {
          .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected {
            margin-bottom: 120px; } }
        @media (min-width: 992px) {
          .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected {
            margin-bottom: 170px; } }
        .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected:after {
          opacity: 1;
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: ease;
          transition-delay: 0.2s; }
          @media (min-width: 768px) {
            .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected:after {
              margin-top: 15px;
              height: 90px; } }
          @media (min-width: 992px) {
            .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected:after {
              margin-top: 20px;
              height: 130px; } }
          @media (max-width: 767px) {
            .sgh_sectionHighlight .sgh_items.isSlider .flickity-page-dots .dot.is-selected:after {
              margin-left: 10px;
              height: 2px;
              width: 30px; } }
@media (max-width: 767px) {
  .sgh_sectionHighlight.isGmap .sgh_sectionInner .thumbnailHighlight .image {
    padding-bottom: 144.7%; } }
.sgh_sectionHighlight.isGmap .sgh_sectionInner .thumbnailHighlight .image > * {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
@media (max-width: 767px) {
  .sgh_sectionHighlight.isGmap .map-content {
    font-size: 12px; } }
.sgh_sectionHighlight.isGmap .map-content img {
  width: auto;
  height: auto;
  max-width: 100%; }
.sgh_sectionHighlight.isGmap .map-content .map-icon {
  display: inline-block; }
@media (min-width: 768px) {
  .sgh_sectionHighlight.isSM .thumbnailHighlight .image {
    height: 400px; } }

.thumbnailHighlight {
  position: relative; }
  .thumbnailHighlight .imageWrap {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0.4s; }
  .thumbnailHighlight .image {
    overflow: hidden;
    position: relative; }
    @media (min-width: 768px) {
      .thumbnailHighlight .image {
        height: 725.88px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; } }
    @media (min-width: 992px) {
      .thumbnailHighlight .image {
        height: 100vh; } }
    @media (max-width: 767px) {
      .thumbnailHighlight .image img {
        width: 100%;
        height: auto; } }
  .thumbnailHighlight .captionWrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%; }
    @media (min-width: 768px) {
      .thumbnailHighlight .captionWrap {
        top: 262.2px; } }
    @media (min-width: 992px) {
      .thumbnailHighlight .captionWrap {
        top: 40vh; } }
  .thumbnailHighlight .caption {
    word-break: break-word; }
    @media (min-width: 768px) {
      .thumbnailHighlight .caption {
        max-width: 294.4px; } }
    @media (min-width: 992px) {
      .thumbnailHighlight .caption {
        max-width: 467.2px; } }
    @media (min-width: 1760px) {
      .thumbnailHighlight .caption {
        max-width: 640px; } }
    .thumbnailHighlight .caption .titleText {
      color: #fff;
      font-family: 'korolev_condensedbold';
      line-height: 1;
      position: relative;
      margin: 0 0 6.9px;
      font-size: 10vw;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      transition-delay: 0.4s; }
      @media (min-width: 768px) {
        .thumbnailHighlight .caption .titleText {
          font-size: 32.2px; } }
      @media (min-width: 992px) {
        .thumbnailHighlight .caption .titleText {
          margin: 0 0 10.95px;
          font-size: 51.1px; } }
      @media (min-width: 1760px) {
        .thumbnailHighlight .caption .titleText {
          margin: 0 0 15px;
          font-size: 70px; } }
      .thumbnailHighlight .caption .titleText:after {
        content: '';
        display: block;
        height: 3px;
        background-color: #fac214;
        margin-top: 5px;
        width: 84px; }
    .thumbnailHighlight .caption .desc {
      margin-bottom: 20px;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      transition-delay: 0.5s; }
      @media (min-width: 768px) {
        .thumbnailHighlight .caption .desc {
          font-size: 10.12px; } }
      @media (min-width: 992px) {
        .thumbnailHighlight .caption .desc {
          font-size: 16.06px; } }
      @media (min-width: 1760px) {
        .thumbnailHighlight .caption .desc {
          font-size: 22px; } }
    .thumbnailHighlight .caption .buttonWrap {
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      transition-delay: 0.4s; }
    .thumbnailHighlight .caption .captionInner {
      position: relative;
      padding: 10px;
      margin-bottom: 20px;
      display: inline-block; }
      @media (min-width: 768px) {
        .thumbnailHighlight .caption .captionInner {
          padding: 20px; } }
      @media (min-width: 1760px) {
        .thumbnailHighlight .caption .captionInner {
          padding: 40px; } }
      .thumbnailHighlight .caption .captionInner:after {
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0.6s;
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.9); }
        @media (min-width: 768px) {
          .thumbnailHighlight .caption .captionInner:after {
            padding: 10px; } }
        @media (min-width: 1760px) {
          .thumbnailHighlight .caption .captionInner:after {
            padding: 15px; } }
      .thumbnailHighlight .caption .captionInner > * {
        position: relative;
        z-index: 1; }
      .thumbnailHighlight .caption .captionInner .titleText {
        color: #fac214; }
      .thumbnailHighlight .caption .captionInner .desc {
        margin-bottom: 0; }

.sgh_sectionProductsHighlight {
  padding-top: 10%; }
  @media (min-width: 768px) {
    .sgh_sectionProductsHighlight {
      padding-top: 43.8px; } }
  @media (min-width: 1760px) {
    .sgh_sectionProductsHighlight {
      padding-top: 60px; } }
  .sgh_sectionProductsHighlight .sgh_item:last-child .thumbnailProducts {
    margin-bottom: 0; }
  @media (min-width: 1760px) {
    .sgh_sectionProductsHighlight + .sgh_sectionNewsHighlight {
      margin-top: -30px; } }

.thumbnailProductsHighlight {
  margin-bottom: 10%;
  position: relative; }
  @media (min-width: 768px) {
    .thumbnailProductsHighlight {
      margin-bottom: 87.6px; }
      .thumbnailProductsHighlight:before, .thumbnailProductsHighlight:after {
        content: " ";
        display: table; }
      .thumbnailProductsHighlight:after {
        clear: both; } }
  @media (min-width: 1760px) {
    .thumbnailProductsHighlight {
      margin-bottom: 120px; } }
  .thumbnailProductsHighlight .imageWrap {
    padding-top: 25%;
    padding-right: 10%;
    margin-bottom: 5%;
    position: relative;
    z-index: 2; }
    @media (min-width: 768px) {
      .thumbnailProductsHighlight .imageWrap {
        margin-bottom: 0;
        float: right;
        width: 64%;
        padding-left: 13.8px;
        padding-right: 100.28px;
        padding-top: 46px; } }
    @media (min-width: 992px) {
      .thumbnailProductsHighlight .imageWrap {
        padding-left: 21.9px;
        padding-right: 159.14px;
        padding-top: 73px; } }
    @media (min-width: 1760px) {
      .thumbnailProductsHighlight .imageWrap {
        padding-left: 30px;
        padding-right: 218px;
        padding-top: 100px; } }
    .thumbnailProductsHighlight .imageWrap .imageDecor {
      position: relative; }
      .thumbnailProductsHighlight .imageWrap .imageDecor:after {
        content: '';
        background-image: url("../img/thumbnailProductDecor.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        position: absolute;
        z-index: 0;
        right: -11%;
        top: -12%;
        left: 50%;
        bottom: 0; }
        @media (min-width: 768px) {
          .thumbnailProductsHighlight .imageWrap .imageDecor:after {
            right: -100.28px;
            top: -46px; } }
        @media (min-width: 992px) {
          .thumbnailProductsHighlight .imageWrap .imageDecor:after {
            right: -159.14px;
            top: -73px;
            width: 427.05px;
            height: 343.1px; } }
        @media (min-width: 1760px) {
          .thumbnailProductsHighlight .imageWrap .imageDecor:after {
            right: -218px;
            top: -100px;
            width: 585px;
            height: 470px; } }
      .thumbnailProductsHighlight .imageWrap .imageDecor .image {
        z-index: 1; }
  @media (min-width: 768px) {
    .thumbnailProductsHighlight .captionWrap {
      float: left;
      width: 36%; } }
  .thumbnailProductsHighlight .caption {
    word-break: break-word; }
    @media (min-width: 768px) {
      .thumbnailProductsHighlight .caption {
        position: relative;
        overflow: hidden;
        padding: 46px 0 0 46px; } }
    @media (min-width: 992px) {
      .thumbnailProductsHighlight .caption {
        padding: 73px 0 0 73px; } }
    @media (min-width: 1760px) {
      .thumbnailProductsHighlight .caption {
        padding: 100px 0 0 100px; } }
    .thumbnailProductsHighlight .caption > * {
      position: relative;
      z-index: 1; }
    .thumbnailProductsHighlight .caption .number {
      color: #e8e7e7;
      font-family: 'korolev_condensedbold';
      line-height: 1;
      z-index: 0;
      position: absolute;
      left: 0;
      top: -2%;
      font-size: 34.2vw; }
      @media (min-width: 768px) {
        .thumbnailProductsHighlight .caption .number {
          font-size: 190.44px;
          top: -23px; } }
      @media (min-width: 992px) {
        .thumbnailProductsHighlight .caption .number {
          font-size: 302.22px;
          top: -36.5px; } }
      @media (min-width: 1760px) {
        .thumbnailProductsHighlight .caption .number {
          font-size: 414px;
          top: -50px; } }
    .thumbnailProductsHighlight .caption .titleText {
      color: #fac214;
      font-family: 'korolev_condensedbold';
      line-height: 1;
      font-size: 7.6vw;
      margin: 0; }
      @media (max-width: 767px) {
        .thumbnailProductsHighlight .caption .titleText {
          position: absolute;
          left: 10%;
          top: 7%;
          right: 57%;
          padding-bottom: 14%; }
          .thumbnailProductsHighlight .caption .titleText .titleTextInner {
            position: absolute;
            left: 0;
            bottom: 15%; } }
      @media (min-width: 768px) {
        .thumbnailProductsHighlight .caption .titleText {
          font-size: 27.6px;
          margin: 0 0 11.5px; } }
      @media (min-width: 992px) {
        .thumbnailProductsHighlight .caption .titleText {
          font-size: 43.8px;
          margin: 0 0 18.25px; } }
      @media (min-width: 1760px) {
        .thumbnailProductsHighlight .caption .titleText {
          font-size: 60px;
          margin: 0 0 25px; } }
      .thumbnailProductsHighlight .caption .titleText:after {
        content: '';
        display: block;
        background-color: #fac214;
        width: 30px;
        margin-top: 2%; }
        @media (max-width: 767px) {
          .thumbnailProductsHighlight .caption .titleText:after {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px; } }
        @media (min-width: 768px) {
          .thumbnailProductsHighlight .caption .titleText:after {
            height: 3px;
            width: 84px;
            margin-top: 25px; } }
    .thumbnailProductsHighlight .caption .desc {
      margin-bottom: 5%; }
      @media (min-width: 768px) {
        .thumbnailProductsHighlight .caption .desc {
          margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .thumbnailProductsHighlight.isDiff .imageWrap {
      padding-right: 0;
      padding-left: 10%; } }
  @media (min-width: 768px) {
    .thumbnailProductsHighlight.isDiff .imageWrap {
      float: left;
      padding-right: 0;
      padding-left: 114.08px; } }
  @media (min-width: 992px) {
    .thumbnailProductsHighlight.isDiff .imageWrap {
      padding-left: 181.04px; } }
  @media (min-width: 1760px) {
    .thumbnailProductsHighlight.isDiff .imageWrap {
      padding-left: 248px; } }
  @media (max-width: 767px) {
    .thumbnailProductsHighlight.isDiff .imageWrap .imageDecor:after {
      left: -11%;
      right: 50%; } }
  @media (min-width: 768px) {
    .thumbnailProductsHighlight.isDiff .imageWrap .imageDecor:after {
      right: auto;
      left: -100.28px; } }
  @media (min-width: 992px) {
    .thumbnailProductsHighlight.isDiff .imageWrap .imageDecor:after {
      left: -159.14px; } }
  @media (min-width: 1760px) {
    .thumbnailProductsHighlight.isDiff .imageWrap .imageDecor:after {
      left: -218px; } }
  @media (min-width: 768px) {
    .thumbnailProductsHighlight.isDiff .captionWrap {
      float: right;
      padding-left: 32.2px; } }
  @media (min-width: 992px) {
    .thumbnailProductsHighlight.isDiff .captionWrap {
      padding-left: 51.1px; } }
  @media (min-width: 1760px) {
    .thumbnailProductsHighlight.isDiff .captionWrap {
      padding-left: 70px; } }
  .thumbnailProductsHighlight.isDiff .caption {
    word-break: break-word; }
    @media (max-width: 767px) {
      .thumbnailProductsHighlight.isDiff .caption .number {
        left: auto;
        right: 0; } }
    @media (max-width: 767px) {
      .thumbnailProductsHighlight.isDiff .caption .titleText {
        right: 0;
        left: 57%; }
        .thumbnailProductsHighlight.isDiff .caption .titleText .titleTextInner {
          right: 0;
          left: auto; }
        .thumbnailProductsHighlight.isDiff .caption .titleText:after {
          left: auto;
          right: 0; } }
    @media (max-width: 767px) {
      .thumbnailProductsHighlight.isDiff .caption .button {
        text-align: right; } }

.sgh_sectionNewsHighlight {
  background-image: url("../img/newsSliderBG.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
  padding-bottom: 10%; }
  @media (min-width: 768px) {
    .sgh_sectionNewsHighlight {
      padding-top: 321.2px;
      padding-bottom: 65.7px; } }
  @media (min-width: 1760px) {
    .sgh_sectionNewsHighlight {
      padding-top: 440px;
      padding-bottom: 90px; } }
  @media (max-width: 767px) {
    .sgh_sectionNewsHighlight .sgh_sectionHeader {
      text-align: left; } }
  @media (max-width: 767px) {
    .sgh_sectionNewsHighlight .sgh_sectionHeader .titleText:after {
      margin-left: 0; } }
  .sgh_sectionNewsHighlight .sgh_sectionHeader .desc {
    color: #fff; }
    @media (max-width: 767px) {
      .sgh_sectionNewsHighlight .sgh_sectionHeader .desc {
        max-width: none;
        margin-right: 20%; } }
  .sgh_sectionNewsHighlight .sgh_items .sgh_item {
    vertical-align: top;
    display: inline-block;
    width: 46%;
    padding-left: 5px;
    padding-right: 5px; }
    @media (min-width: 768px) {
      .sgh_sectionNewsHighlight .sgh_items .sgh_item {
        width: 33.3333333333%;
        padding-left: 10.95px;
        padding-right: 10.95px; } }
    @media (min-width: 992px) {
      .sgh_sectionNewsHighlight .sgh_items .sgh_item {
        width: 25%; } }
    @media (min-width: 1760px) {
      .sgh_sectionNewsHighlight .sgh_items .sgh_item {
        padding-left: 15px;
        padding-right: 15px; } }
  .sgh_sectionNewsHighlight .sgh_items.isSlider {
    font-size: 0;
    white-space: nowrap;
    margin-left: -5px;
    margin-right: -5px; }
    @media (min-width: 768px) {
      .sgh_sectionNewsHighlight .sgh_items.isSlider {
        margin-left: -10.95px;
        margin-right: -10.95px; } }
    @media (min-width: 1760px) {
      .sgh_sectionNewsHighlight .sgh_items.isSlider {
        margin-left: -15px;
        margin-right: -15px; } }
    .sgh_sectionNewsHighlight .sgh_items.isSlider .thumbnailNews {
      white-space: normal; }
      @media (max-width: 767px) {
        .sgh_sectionNewsHighlight .sgh_items.isSlider .thumbnailNews .caption .button a {
          padding-bottom: 30%; } }
    .sgh_sectionNewsHighlight .sgh_items.isSlider:not(.flickity-enabled) {
      overflow: hidden; }
  .sgh_sectionNewsHighlight .sgh_items.flickity-enabled {
    padding-bottom: 60px; }
    .sgh_sectionNewsHighlight .sgh_items.flickity-enabled .flickity-page-dots {
      bottom: 15px; }
      .sgh_sectionNewsHighlight .sgh_items.flickity-enabled .flickity-page-dots .dot {
        opacity: 1;
        background-color: #a7a7a7; }
        .sgh_sectionNewsHighlight .sgh_items.flickity-enabled .flickity-page-dots .dot.is-selected {
          background-color: #fac214; }

.thumbnailNews {
  background-color: #fff;
  margin-bottom: 30px; }
  .thumbnailNews .imageWrap a {
    display: block; }
    .thumbnailNews .imageWrap a:hover {
      opacity: 0.7; }
  .thumbnailNews .captionWrap {
    background-color: #fff;
    padding: 10px 10px 0; }
    .thumbnailNews .captionWrap a {
      display: block; }
  .thumbnailNews .caption {
    word-break: break-word; }
    .thumbnailNews .caption .date {
      color: #939393;
      font-size: 3.2vw;
      margin-bottom: 5px; }
      @media (min-width: 768px) {
        .thumbnailNews .caption .date {
          margin-bottom: 10px;
          font-size: 14px; } }
    .thumbnailNews .caption .titleText {
      color: #fac214;
      font-size: 3.6vw;
      margin: 0 0 5px; }
      @media (min-width: 768px) {
        .thumbnailNews .caption .titleText {
          margin-bottom: 10px;
          font-size: 18px; } }
    .thumbnailNews .caption .desc {
      color: #333;
      margin: 0;
      font-size: 3.2vw; }
      @media (min-width: 768px) {
        .thumbnailNews .caption .desc {
          font-size: 14px; } }
      @media (min-width: 1760px) {
        .thumbnailNews .caption .desc {
          font-size: 16px; } }
    .thumbnailNews .caption .button {
      font-size: 3.2vw;
      margin: 0 -10px; }
      @media (min-width: 768px) {
        .thumbnailNews .caption .button {
          font-size: 14px; } }
      @media (min-width: 1760px) {
        .thumbnailNews .caption .button {
          font-size: 16px; } }
      .thumbnailNews .caption .button a {
        display: block;
        text-align: right;
        color: #333333;
        position: relative;
        overflow: hidden; }
        @media (max-width: 767px) {
          .thumbnailNews .caption .button a {
            height: auto;
            padding-bottom: 15%; } }
        @media (min-width: 768px) {
          .thumbnailNews .caption .button a {
            padding: 40px 10px 10px;
            height: 80px; } }
        .thumbnailNews .caption .button a:after {
          content: '';
          position: absolute;
          z-index: 0;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-image: url("../img/thumbnailNewsDecor.png");
          background-position: right top;
          background-repeat: no-repeat;
          background-size: auto 100%;
          -webkit-transform: translateY(30px);
              -ms-transform: translateY(30px);
                  transform: translateY(30px);
          opacity: 0;
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          transition-delay: 0s; }
        .thumbnailNews .caption .button a > span {
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          transition-delay: 0s;
          position: relative;
          display: inline-block;
          z-index: 1; }
          @media (max-width: 767px) {
            .thumbnailNews .caption .button a > span {
              position: absolute;
              right: 10px;
              bottom: 10px; } }
        .thumbnailNews .caption .button a [class*="ftlo-"] {
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          transition-delay: 0s;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          opacity: 0;
          right: -7.3px; }
          @media (min-width: 1760px) {
            .thumbnailNews .caption .button a [class*="ftlo-"] {
              right: -10px; } }
        .thumbnailNews .caption .button a:hover:after {
          opacity: 1;
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0);
          transition-delay: 0.2s; }
        .thumbnailNews .caption .button a:hover > span {
          padding-right: 20.44px; }
          @media (min-width: 1760px) {
            .thumbnailNews .caption .button a:hover > span {
              padding-right: 28px; } }
          .thumbnailNews .caption .button a:hover > span [class*="ftlo-"] {
            right: 0;
            opacity: 1; }

.sgh_sectionContactDetail .contactAddress {
  font-size: 4vw;
  color: #333333; }
  @media (min-width: 768px) {
    .sgh_sectionContactDetail .contactAddress {
      font-size: 10.12px; } }
  @media (min-width: 992px) {
    .sgh_sectionContactDetail .contactAddress {
      font-size: 16.06px; } }
  @media (min-width: 1760px) {
    .sgh_sectionContactDetail .contactAddress {
      font-size: 22px; } }
  .sgh_sectionContactDetail .contactAddress .list-unstyled li {
    padding-top: 5px;
    padding-bottom: 5px; }
  .sgh_sectionContactDetail .contactAddress [class*=ftlo-] {
    color: #fac214; }
    .sgh_sectionContactDetail .contactAddress [class*=ftlo-]:before {
      font-size: 1.2em; }

html.svg .map-icon {
  display: inline-block;
  background-image: url("../img/map-logo-singha.svg");
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  html.svg .map-icon img {
    opacity: 0; }

.sgh_sectionArticle article {
  font-size: 17.52px;
  line-height: 1.2; }
  @media (min-width: 1760px) {
    .sgh_sectionArticle article {
      font-size: 24px;
      line-height: 1.4; } }
  .sgh_sectionArticle article img {
    max-width: 100%;
    height: auto !important; }
  .sgh_sectionArticle article figure {
    margin-bottom: 21.9px; }
    @media (min-width: 1760px) {
      .sgh_sectionArticle article figure {
        margin-bottom: 30px; } }
  .sgh_sectionArticle article p {
    margin-bottom: 21.9px; }
    @media (min-width: 1760px) {
      .sgh_sectionArticle article p {
        margin-bottom: 30px; } }
.sgh_sectionArticle.isNewsDetail article {
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.sgh_sectionArticleFeature {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .sgh_sectionArticleFeature:before, .sgh_sectionArticleFeature:after {
      content: " ";
      display: table; }
    .sgh_sectionArticleFeature:after {
      clear: both; } }
  .sgh_sectionArticleFeature .breadcrumbTheme {
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .sgh_sectionArticleFeature .breadcrumbTheme {
        margin-bottom: 0;
        float: left; } }
    .sgh_sectionArticleFeature .breadcrumbTheme nav > * {
      display: inline-block; }
      .sgh_sectionArticleFeature .breadcrumbTheme nav > * a {
        color: #333; }
        .sgh_sectionArticleFeature .breadcrumbTheme nav > * a:hover {
          text-decoration: underline; }
      .sgh_sectionArticleFeature .breadcrumbTheme nav > *:not(:last-child):after {
        content: ' / ';
        margin-left: 3px;
        margin-right: 3px; }
      .sgh_sectionArticleFeature .breadcrumbTheme nav > *:last-child span {
        color: #fac214; }
  .sgh_sectionArticleFeature .simpleButtons {
    text-align: right; }
    @media (min-width: 768px) {
      .sgh_sectionArticleFeature .simpleButtons {
        float: right;
        text-align: left; } }
    .sgh_sectionArticleFeature .simpleButtons a {
      color: #333333; }
      .sgh_sectionArticleFeature .simpleButtons a:hover {
        color: #fac214; }

.thumbnailProduct {
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center; }
  .thumbnailProduct .captionWrap {
    padding-top: 10px;
    position: relative;
    z-index: 2; }
    .thumbnailProduct .captionWrap .caption {
      word-break: break-word;
      padding: 0 15px 15px; }
      @media (min-width: 768px) {
        .thumbnailProduct .captionWrap .caption {
          padding: 0 32.2px 30px; } }
      @media (min-width: 992px) {
        .thumbnailProduct .captionWrap .caption {
          padding: 0 51.1px 30px; } }
      @media (min-width: 1760px) {
        .thumbnailProduct .captionWrap .caption {
          padding: 0 70px 30px; } }
      .thumbnailProduct .captionWrap .caption .titleText {
        margin-top: 0; }
      .thumbnailProduct .captionWrap .caption .button {
        padding-top: 15px; }

.sgh_sectionProductDetailFeature {
  margin-bottom: 15px; }
  .sgh_sectionProductDetailFeature a {
    color: #fff; }

.sgh_sectionProductDetailIntro {
  margin-bottom: 1%; }
  .sgh_sectionProductDetailIntro .sgh_sectionInner {
    padding-left: 6%;
    padding-right: 6%; }
  .sgh_sectionProductDetailIntro .sgh_sectionHeader {
    margin-bottom: 15px; }
    .sgh_sectionProductDetailIntro .sgh_sectionHeader .titleText {
      color: #333; }
      .sgh_sectionProductDetailIntro .sgh_sectionHeader .titleText:after {
        background-color: #333; }
    .sgh_sectionProductDetailIntro .sgh_sectionHeader .titleText_sub {
      color: #c51a33; }
    @media (min-width: 1200px) {
      .sgh_sectionProductDetailIntro .sgh_sectionHeader .desc {
        width: 309.52px; } }
    @media (min-width: 1760px) {
      .sgh_sectionProductDetailIntro .sgh_sectionHeader .desc {
        width: 424px; } }
  .sgh_sectionProductDetailIntro .sgh_shortcutLinks {
    text-align: center; }
    @media (min-width: 768px) {
      .sgh_sectionProductDetailIntro .sgh_shortcutLinks {
        text-align: left; } }
    .sgh_sectionProductDetailIntro .sgh_shortcutLinks a {
      color: #333;
      display: inline-block; }
      .sgh_sectionProductDetailIntro .sgh_shortcutLinks a:hover [class*=ftlo] {
        margin-right: 20px;
        -webkit-transform: scale(1.15);
            -ms-transform: scale(1.15);
                transform: scale(1.15); }
    .sgh_sectionProductDetailIntro .sgh_shortcutLinks [class*=ftlo] {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      transition-delay: 0s; }
      .sgh_sectionProductDetailIntro .sgh_shortcutLinks [class*=ftlo]:before {
        font-size: 3rem;
        margin: 0; }
      .sgh_sectionProductDetailIntro .sgh_shortcutLinks [class*=ftlo] ~ * {
        display: inline-block;
        vertical-align: middle; }
    @media (max-width: 767px) {
      .sgh_sectionProductDetailIntro .sgh_shortcutLinks .list-inline {
        display: inline-block; } }
    @media (max-width: 767px) {
      .sgh_sectionProductDetailIntro .sgh_shortcutLinks .list-inline li {
        display: block;
        margin-bottom: 15px;
        text-align: left; } }

.sgh_sectionProductDetailHighlight {
  margin-bottom: 30px; }
  .sgh_sectionProductDetailHighlight .sgh_sectionInner {
    padding-left: 4%;
    padding-right: 8%; }
  .sgh_sectionProductDetailHighlight .sgh_items {
    font-size: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .sgh_sectionProductDetailHighlight .sgh_item {
    font-size: 1.1rem; }
    @media (max-width: 767px) {
      .sgh_sectionProductDetailHighlight .sgh_item {
        margin-bottom: 5%; } }
    .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight {
      padding-right: 42%;
      position: relative; }
      .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .imageWrap {
        margin-left: -8%;
        margin-right: -5%;
        position: relative; }
      .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .captionWrap {
        position: absolute;
        right: 0;
        width: 42%;
        bottom: 10%; }
        @media (min-width: 768px) {
          .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .captionWrap {
            bottom: 8%; } }
        @media (min-width: 1200px) {
          .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .captionWrap {
            bottom: 12%; } }
      .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .caption {
        word-break: break-word; }
        @media (min-width: 768px) {
          .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .caption .list-unstyled li {
            padding-top: 5px;
            padding-bottom: 5px; } }
        @media (min-width: 1200px) {
          .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .caption .list-unstyled li {
            padding-top: 10px;
            padding-bottom: 10px; } }
        .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .caption .list-unstyled li:not(:last-child) {
          border-bottom: 1px solid #fac214; }
        .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight .caption .list-unstyled li.isTitleText {
          font-size: 2.32em;
          padding: 0; }
      .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight.hideCaption {
        padding-left: 0;
        padding-right: 0; }
        @media (min-width: 768px) {
          .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight.hideCaption {
            padding-left: 22%;
            padding-right: 22%; } }
        .sgh_sectionProductDetailHighlight .sgh_item .thumbnailProductHighlight.hideCaption .captionWrap {
          opacity: 0; }
  .sgh_sectionProductDetailHighlight + .sgh_sectionProductDetail {
    padding-top: 10vw; }
    @media (min-width: 768px) {
      .sgh_sectionProductDetailHighlight + .sgh_sectionProductDetail {
        padding-top: 46px; } }
    @media (min-width: 1200px) {
      .sgh_sectionProductDetailHighlight + .sgh_sectionProductDetail {
        padding-top: 73px; } }
    @media (min-width: 1760px) {
      .sgh_sectionProductDetailHighlight + .sgh_sectionProductDetail {
        padding-top: 100px; } }

.sgh_sectionProductDetail {
  padding-top: 5vw; }
  @media (min-width: 768px) {
    .sgh_sectionProductDetail {
      padding-top: 23px; } }
  @media (min-width: 1200px) {
    .sgh_sectionProductDetail {
      padding-top: 36.5px; } }
  @media (min-width: 1760px) {
    .sgh_sectionProductDetail {
      padding-top: 50px; } }

.thumbnailProductDetail {
  margin-bottom: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .thumbnailProductDetail {
      margin-bottom: 60px; } }
  .thumbnailProductDetail .image {
    margin-bottom: 30px; }
  .thumbnailProductDetail .caption {
    word-break: break-word; }
    .thumbnailProductDetail .caption > * {
      margin: 0 0 15px; }
      .thumbnailProductDetail .caption > *:last-child {
        margin-bottom: 0; }
    .thumbnailProductDetail .caption .titleText {
      font-size: 2.4em; }
      .thumbnailProductDetail .caption .titleText .isHL1 {
        color: #fac214; }
    @media (max-width: 767px) {
      .thumbnailProductDetail .caption p br {
        display: none; } }

.sgh_sectionRepresentative .nav-tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 0;
  margin: 0 -2px 15px; }
  @media (min-width: 768px) {
    .sgh_sectionRepresentative .nav-tabs {
      margin: 0 -10px 30px; } }
  @media (min-width: 1760px) {
    .sgh_sectionRepresentative .nav-tabs {
      margin: 0 -15px 30px; } }
  .sgh_sectionRepresentative .nav-tabs li {
    float: none;
    position: relative;
    padding: 0 2px;
    margin: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
    @media (min-width: 768px) {
      .sgh_sectionRepresentative .nav-tabs li {
        padding: 0 10px; } }
    @media (min-width: 1760px) {
      .sgh_sectionRepresentative .nav-tabs li {
        padding: 0 15px; } }
    .sgh_sectionRepresentative .nav-tabs li a {
      display: block;
      text-align: center;
      color: #333333;
      margin: 0;
      border: 0 !important;
      background-color: transparent !important;
      padding: 0;
      font-size: 0.6em; }
      @media (min-width: 768px) {
        .sgh_sectionRepresentative .nav-tabs li a {
          font-size: 2.4em;
          font-size: 10.12px; } }
      @media (min-width: 1200px) {
        .sgh_sectionRepresentative .nav-tabs li a {
          font-size: 16.06px; } }
      @media (min-width: 1760px) {
        .sgh_sectionRepresentative .nav-tabs li a {
          font-size: 22px; } }
      .sgh_sectionRepresentative .nav-tabs li a .titleText {
        display: block;
        margin-bottom: 5px; }
        @media (min-width: 768px) {
          .sgh_sectionRepresentative .nav-tabs li a .titleText {
            margin-bottom: 15px; } }
      .sgh_sectionRepresentative .nav-tabs li a figure {
        display: inline-block;
        position: relative;
        border: 1px solid #b2b2b2;
        overflow: hidden; }
        .sgh_sectionRepresentative .nav-tabs li a figure img {
          position: relative;
          z-index: 0; }
          .sgh_sectionRepresentative .nav-tabs li a figure img + img {
            position: absolute;
            z-index: 1;
            opacity: 0;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition-property: all;
            transition-duration: 0.6s;
            transition-timing-function: ease-out;
            transition-delay: 0s; }
      .sgh_sectionRepresentative .nav-tabs li a:hover {
        color: #fac214; }
        .sgh_sectionRepresentative .nav-tabs li a:hover figure {
          border: 1px solid #fac214; }
    .sgh_sectionRepresentative .nav-tabs li.active a {
      color: #fac214; }
      .sgh_sectionRepresentative .nav-tabs li.active a figure {
        border: 1px solid #fac214; }
        .sgh_sectionRepresentative .nav-tabs li.active a figure img + img {
          opacity: 1; }
.sgh_sectionRepresentative .tab-content {
  position: relative;
  border-top: 1px solid #fac214;
  padding-top: 30px; }
  .sgh_sectionRepresentative .tab-content:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    height: 3px;
    background-color: #fac214;
    width: 12%; }
  @media (max-width: 767px) {
    .sgh_sectionRepresentative .tab-content .row {
      margin-left: -5px;
      margin-right: -5px; }
      .sgh_sectionRepresentative .tab-content .row > * {
        padding-left: 5px;
        padding-right: 5px; } }
.sgh_sectionRepresentative .media-title {
  margin: 0 0 5px;
  font-size: inherit;
  font-weight: bold; }
.sgh_sectionRepresentative .media {
  margin: 0 0 15px; }
  @media (min-width: 1760px) {
    .sgh_sectionRepresentative .media {
      margin: 0 0 30px; } }
  .sgh_sectionRepresentative .media .media-left {
    padding-top: 5px;
    width: 10vw; }
    @media (min-width: 768px) {
      .sgh_sectionRepresentative .media .media-left {
        width: 36.8px; } }
    @media (min-width: 1200px) {
      .sgh_sectionRepresentative .media .media-left {
        width: 58.4px; } }
    @media (min-width: 1760px) {
      .sgh_sectionRepresentative .media .media-left {
        width: 80px; } }
    .sgh_sectionRepresentative .media .media-left img {
      width: auto;
      height: 4vw; }
      @media (min-width: 768px) {
        .sgh_sectionRepresentative .media .media-left img {
          height: 16.1px; } }
      @media (min-width: 1200px) {
        .sgh_sectionRepresentative .media .media-left img {
          height: 25.55px; } }
      @media (min-width: 1760px) {
        .sgh_sectionRepresentative .media .media-left img {
          height: 35px; } }
  .sgh_sectionRepresentative .media .media-left-inner {
    display: inline-block; }
  .sgh_sectionRepresentative .media .media-left-brand img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 3.5vw;
    margin-top: 1vw; }
    @media (min-width: 768px) {
      .sgh_sectionRepresentative .media .media-left-brand img {
        width: 14.72px;
        margin-top: 2.3px; } }
    @media (min-width: 1200px) {
      .sgh_sectionRepresentative .media .media-left-brand img {
        width: 23.36px;
        margin-top: 3.65px; } }
    @media (min-width: 1760px) {
      .sgh_sectionRepresentative .media .media-left-brand img {
        margin-top: 5px;
        width: 32px; } }
  .sgh_sectionRepresentative .media .media-body {
    width: auto; }

.sgh_sectionAgeVerification {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/highlight-ageVerification.png"); }
  .sgh_sectionAgeVerification .sgh_sectionInner {
    height: 100vh; }
  .sgh_sectionAgeVerification .ageVerificationForm {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    top: 5%; }
    @media (min-width: 768px) {
      .sgh_sectionAgeVerification .ageVerificationForm {
        width: 450px;
        top: 5vh; } }
    @media (max-width: 767px) {
      .sgh_sectionAgeVerification .ageVerificationForm {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; } }
    .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationBrand {
      margin-bottom: 10px; }
      @media (max-width: 767px) {
        .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationBrand img {
          width: 30vw; } }
    .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationTitle {
      color: #fff;
      font-family: 'korolev_condensedbold';
      margin-bottom: 10px;
      font-size: 6vw; }
      @media (min-width: 768px) {
        .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationTitle {
          font-size: 26px; } }
    .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationDesc {
      color: #333333; }
      @media (min-width: 768px) {
        .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationDesc {
          font-size: 12px; } }
      .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationDesc a {
        color: #333333;
        text-decoration: underline; }
        .sgh_sectionAgeVerification .ageVerificationForm .ageVerificationDesc a:hover {
          color: #000;
          text-decoration: none; }
    @media (min-width: 768px) {
      .sgh_sectionAgeVerification .ageVerificationForm .formTheme {
        width: 100%;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px; }
        .sgh_sectionAgeVerification .ageVerificationForm .formTheme:before, .sgh_sectionAgeVerification .ageVerificationForm .formTheme:after {
          content: " ";
          display: table; }
        .sgh_sectionAgeVerification .ageVerificationForm .formTheme:after {
          clear: both; } }
    @media (min-width: 768px) {
      .sgh_sectionAgeVerification .ageVerificationForm .formTheme .form-group {
        float: left; }
        .sgh_sectionAgeVerification .ageVerificationForm .formTheme .form-group:not(:first-child) {
          padding-left: 10px; }
        .sgh_sectionAgeVerification .ageVerificationForm .formTheme .form-group.isCountry {
          width: 50%; }
        .sgh_sectionAgeVerification .ageVerificationForm .formTheme .form-group.isBirthYear {
          width: 25%; }
        .sgh_sectionAgeVerification .ageVerificationForm .formTheme .form-group.isButton {
          width: 25%; }
          .sgh_sectionAgeVerification .ageVerificationForm .formTheme .form-group.isButton .btn {
            font-size: 14px;
            min-width: 0; } }

.dropdown.isNavTab {
  margin-bottom: 15px; }
  .dropdown.isNavTab .dropdown-toggle {
    text-align: left;
    position: relative; }
    .dropdown.isNavTab .dropdown-toggle .caret {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 10px;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: ease-out;
      transition-delay: 0s; }
    .dropdown.isNavTab .dropdown-toggle .image {
      width: 34px;
      display: inline-block;
      margin-right: 5px; }
  .dropdown.isNavTab .dropdown-menu {
    width: 100%;
    white-space: normal; }
    .dropdown.isNavTab .dropdown-menu li a {
      padding-top: 6px;
      padding-left: 60px;
      padding-bottom: 6px;
      min-height: 50px;
      display: block;
      position: relative;
      color: #000; }
      .dropdown.isNavTab .dropdown-menu li a:hover, .dropdown.isNavTab .dropdown-menu li a:focus {
        background: none;
        color: #000; }
      .dropdown.isNavTab .dropdown-menu li a > * {
        display: block; }
      .dropdown.isNavTab .dropdown-menu li a figure {
        position: absolute;
        width: 40px;
        left: 10px;
        top: 0; }
    .dropdown.isNavTab .dropdown-menu li.active a {
      background: none;
      color: #000; }
  .dropdown.isNavTab.open .caret {
    -webkit-transform: translateY(-50%) rotate(-180deg);
        -ms-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg); }

html.svg .ageVerificationBrand {
  text-align: center; }
  html.svg .ageVerificationBrand figure {
    display: inline-block;
    background-image: url("../img/logo-singha.svg");
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  html.svg .ageVerificationBrand img {
    opacity: 0; }
